<!-- portal: industries gates, self-intro -->

<div class="portal">
	<div class="portal-content">

		<!-- Industries Portal -->
		<ul class="industries-portals">
			<% get_cates_descs().each do |parentCateInfo|%>
			<li class="portal-tile">
				<%= render :partial => "homepage/ind_portal_tile", :locals => { :@ind => parentCateInfo } %>
			</li>
			<% end %>
		</ul>

		<!-- Intro -->

		<div class="brief-intro">
			<div class="full-intro">
				<p class="slogan-avator">
					揭开采购价的遮羞布！
				</p>
				<p>
					找到最低采购价，节省采购成本
				</p>
				<p>
					发现更多采购单，提高销售业绩
				</p>

			</div>

			<% if current_user %>
				<%= render "homepage/saved_last_search" %>
			<% end %>

		</div>

	</div>

</div>