<!-- saved user recent search -->

<div class="saved-search">
	<div class="ind-pic">

	</div>
	
	
	<div class="search-content">
		<div class="sheader">最近查找</div>
		<div class="scontent">
			<p>不锈钢</p>
			<p>301,304型</p>
			<p>当前竞价中采购单：15个</p>
		</div>
	</div>
	
	<div class="navi">
		<i class="glyphicon  glyphicon-chevron-right navi-bar-icon"></i>
	</div>
</div>