<!-- success cases -->

<div class="success-cases">
	<p class="cases-title">
		最新成功竞拍的采购单：
	</p>
	<ul>
		<li>
			<%= render "homepage/success_tile" %>
		</li>
		
		<li>
			<%= render "homepage/success_tile" %>
		</li>
		
		<li>
			<%= render "homepage/success_tile" %>
		</li>
	</ul>
</div>