<!-- testimonials -->

<div class="testimonials">
	<div class="testi-content">
		<h3 class="title"> 评价我们的声音 </h3>
		<ul>
			<li>
				<div class="avator-info">
					<img src="../img/avator-1.jpg">
					<div class="avator-intro">
						<p>
							黄**(销售经理)
						</p>
						<p>
							南昌**有色金属加工有限公司
						</p>
					</div>
					<p class="comment-text">
						壹百万帮我提前完成了一季度的销售指标，能够直观的看到工程塑料相关的采购单，从而让我们销售从被动寻找，到主动报价，彻底颠覆了工程塑料的供求市场。
					</p>
				</div>
			</li>

			<li>
				<div class="avator-info">
					<img src="../img/avator-2.jpg">
					<div class="avator-intro">
						<p>
							谢**(采购经理)
						</p>
						<p>
							东营**塑胶材料有限公司
						</p>
					</div>
					<p class="comment-text">
						壹百万帮我大大简化了采购过程和采购成本，使我能够获得来自全国的采购报价，这在之前是无法想象的，采购价格减少了20%，非常值得推荐给其他人。
					</p>
				</div>
			</li>

		</ul>
	</div>
</div>