<div class="bid-area">
  <!-- header -->
  <div class="dialog-header">
    <div class="dialog-header-text">
      <span>确认操作</span>
    </div>
    <div class="close_btn">
      <span class="glyphicon glyphicon-remove close-btn"></span>
    </div>
  </div>

  <!-- content -->
  <div class="content text-center">
    <i class="glyphicon glyphicon-exclamation-sign warning-icon"></i>

    <p class="warning-info">请确认您是否取消本次交易，如果取消，将对您的信用产生影响!
      <a href="#" class=" ">了解详情</a>
    </p>
    <span>取消后的订单,可以在”已关闭”中找到. </span>

    <div class="button-rows cancel-buttons">
      <div class="btn-confirm btn btn-primary">确认取消</div>
      <div class="btn-close btn btn-primary">关闭</div>
    </div>

  </div>
</div>