
<%= render "layouts/breadcrumb" %>

<div class="dashboard-page">
	
	<div class="right-area grid_layout_area">
		
		<!-- <div class="dash-header">
			<ul>
				<li class="company-name">
					<span class="title">公司名称：</span>< %= @user.company.name % >
				</li>
				<li class="compnay-id">
					<span class="title">公司编号：</span>< %= @user.company_id % >
				</li>
				<li class="user-email">
					<span class="title">用户账号：</span>< %= @user.email % >
				</li>
				<li class="user-role">
					<span class="title">角色：</span>< %= get_user_role(@user.contact_title)% > 
				</li>
			</ul>
		</div> -->
		
		<%= render "dashboard/general_info" %>
		 
	</div>

</div>