<div class="general-info-page">

	<!-- dash summary -->
	<div class="dash-sum-area dash-summary">
		<div class="summary-left">
			<img src="../img/default_user_portrait.gif" class="user-comp-default">
			<p class="welcome-title">
				欢迎您，<b>songxyu</b>
			</p>
		</div>

		<div class="summary-right">
			<div class="dimgray-top">
				<div class="grid_2 alpha">
					<h5 class="text-big">当前竞价中采购单</h5>
					<p>
						8 个
					</p>
				</div>
				<div class="grid_2 beta">
					<h5 class="text-big">待付款</h5>
					<p>
						0 个
					</p>
				</div>
				<div class="grid_2 omega">
					<h5 class="text-big">总发布</h5>
					<p>
						12 个
					</p>
				</div>
			</div>

			<hr class="sep-line">

			<div class="dimgray-bottom">
				<div class="grid_2 alpha">
					<h5 class="text-big">参与竞价采购单</h5>
					<p>
						8 个
					</p>
				</div>
				<div class="grid_2 beta">
					<h5 class="text-big">采购商回复</h5>
					<p>
						0 个
					</p>
				</div>
				<div class="grid_2 omega">
					<h5 class="text-big">流拍(未成交)</h5>
					<p>
						12 个
					</p>
				</div>
			</div>
		</div>
	</div>

</div>