<div class="general-info-page">
	
	<%= render "layouts/breadcrumb" %>

	<!-- dash summary -->
	<div class="dash-sum-area dash-summary">
			<div class="col-md-12 msg-area">
				<div class="alert alert-warning alert-dismissible fade in alert-msg" role="alert">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				  <strong>提示! </strong>请您<a>完善公司信息</a>，以便顺利获得更多服务.
				</div>
			</div>
		<% if !current_user.company.name %>
		<% logger.debug("+++++++++++++++++" + current_user.company.name)%>
			<div class="col-md-12 alert-msg">
				<div class="alert alert-danger alert-dismissible fade in" role="alert">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				  <strong>提示! </strong>请您<a>完善公司信息</a>，以便顺利获得更多服务.
				</div>
			</div>
		<% end %>
		<div class="summary-left">
			<img src="../img/default_user_portrait.gif" class="user-comp-default">
			<p class="welcome-title">
				欢迎您，<b>songxyu</b>
			</p>
		</div>

		<div class="summary-right">
			<div class="dimgray-top">
				<div class="grid_2 alpha">
					<h5 class="text-big">当前竞价中采购单</h5>
					<p>
						8 个
					</p>
				</div>
				<div class="grid_2 beta">
					<h5 class="text-big">待付款</h5>
					<p>
						0 个
					</p>
				</div>
				<div class="grid_2 omega">
					<h5 class="text-big">总发布</h5>
					<p>
						12 个
					</p>
				</div>
			</div>

			<hr class="sep-line">

			<div class="dimgray-bottom">
				<div class="grid_2 alpha">
					<h5 class="text-big">参与竞价采购单</h5>
					<p>
						8 个
					</p>
				</div>
				<div class="grid_2 beta">
					<h5 class="text-big">采购商回复</h5>
					<p>
						0 个
					</p>
				</div>
				<div class="grid_2 omega">
					<h5 class="text-big">流拍(未成交)</h5>
					<p>
						12 个
					</p>
				</div>
			</div>
		</div>

		<div class="summary-bottom">
			<p>
				TO DO
			</p>
		</div>

	</div>

</div>