<!-- purchased orders  -->

<div class="my-vending-orders-page">
	
	<!-- vending order summary -->
	<div class="dash-sum-area box-summary">
		<div class="box-summary-left">
			<h4>参与竞价采购单</h4>
			<p>9个</p>
		</div>
		
		<div class="box-summary-right">
			<div class="box-dimgray-top">
				<div class="grid_2 alpha">
					<h5 class="text-big">竞拍成功<span class="num-big">3个</span></h5>
				</div>
				<div class="grid_2 beta">
					<h5 class="text-big">流拍(未成交)<span class="num-big">1个</span></h5>
				</div>
				<div class="grid_2 omega">
				</div>
			</div>

		</div>
	</div>
	
	
	<!-- tabs -->
	<div class="tab-headers">
		<ul class="nav nav-tabs  tab-items">
			<li class="active" >
				<a href="#my_vending_bidding_orders" class="tab-item"  id="tab-my-vending-bidding-orders" role="tab" data-toggle="tab">
					 <i class="glyphicon glyphicon-sort-by-attributes-alt"></i> 竞价中</a>
				<!--   link_to "竞价中",  my_biddings_path, remote: true  -->
			</li>
			<li>
				<a href="#my_vending_dealed_orders" class="tab-item"  id="tab-my-vending-dealed-orders" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-usd"></i> 已成交</a>
				<!--  link_to "已成交", {:controller => "orders", :action => "my_purchases", :status=> "2"}, remote: true   -->
			</li>

			<li>
				<a href="#my_vending_complete_orders" class="tab-item" id="tab-my-vending-complete-orders" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-ok"></i> 已完成</a>
				<!--   link_to "已完成",  {:controller => "orders", :action => "my_purchases", :status=> "3"}, remote: true   -->
			</li>
            <li>
            <a href="#my_vending_failbidding_orders" class="tab-item" id="tab-my-vending-failbidding-orders" role="tab" data-toggle="tab">
              <i class="glyphicon glyphicon-remove"></i> 未成交</a>
            </li>

        <!-- <li>
              <a href="#my_vending_all_orders" class="tab-item" id="tab-my-vending-all-orders" role="tab" data-toggle="tab">
                  <i class="glyphicon glyphicon-list"></i> 所有订单</a>
                link_to "所有订单",  my_all_orders_path, remote: true
			</li>
        -->

		</ul>
	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="my_vending_bidding_orders">
			<%= render "dashboard/my_vending_bidding_orders" %>
		</div>
		
		<div class="tab-pane" id="my_vending_dealed_orders">
			<%= render "dashboard/my_vending_dealed_orders" %>
		</div>

		<div class="tab-pane" id="my_vending_complete_orders">
			<%= render "dashboard/my_vending_complete_orders" %>
		</div>

		<div class="tab-pane" id="my_vending_failbidding_orders">
			<%= render "dashboard/my_vending_failbidding_orders" %>
		</div>

        <!--
        <div class="tab-pane" id="my_vending_all_orders">
			< % = render "dashboard/my_vending_all_orders" % >
		</div>
         -->
	</div>

</div>