<div class="my-profile-page">
	
	<!-- dash summary -->
	<div class="dash-sum-area dash-summary">test</div>
	
	
	<!-- tabs -->
	<div class="tab-headers">
		<ul class="nav nav-tabs tab-items" role="tablist">
			<li class="active">
				<a href="#account-profile" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-user"></i> 账户信息</a>
			</li>
			<li>
				<a href="#password-edit" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-lock"></i> 密码修改</a>
			</li>
			<li>
				<a href="#company-profile" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-briefcase"></i> 公司信息</a>
			</li>

		</ul>

	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="account-profile">
			<%= render "users/show" %>
		</div>
		<div class="tab-pane" id="password-edit">
			<%= render "users/edit_pw" %>
		</div>
		<div class="tab-pane" id="company-profile">
			<% 
			## NOTE: 传参(:locals等)情况下, 不能在调用render方法时省略 :partial symbol.!!  
			%>
			<%= render  :partial => "companies/show" , :locals => { :@company => @user.company }  %>
		</div>

	</div>

</div>