<div class="bid-area">
  <!-- header -->
  <div class="dialog-header">
    <div class="dialog-header-text">
      <span>操作成功</span>
    </div>
    <div class="close_btn">
      <span class="glyphicon glyphicon-remove close-btn"></span>
    </div>
  </div>

  <!-- content -->
  <div class="content text-center">
    <i class="glyphicon glyphicon-ok-circle success-icon"></i>
    <div> 提交成功!</div>
    <p>提交后的订单,可以在”竞价中”中找到. </p>

    <div class="botton-rows">
      <div class="btn-preview-detail btn btn-primary">预览采购单</div>
      <div class="btn-close btn btn-primary">关闭</div>
    </div>



  </div>
</div>