<div class="bid-area">
  <!-- header -->
  <div class="dialog-header">
    <div class="dialog-header-text">
      <span>操作成功</span>
    </div>
    <div class="close_btn">
      <span class="glyphicon glyphicon-remove close-btn"></span>
    </div>
  </div>

  <!-- content -->
  <div class="content text-center">
    <i class="glyphicon glyphicon-ok-circle success-icon"></i>
    <div> 提交成功!</div>
    <p>提交后的订单,可以在”竞价中”中找到. </p>

    <div class="botton-rows">
    	<%= link_to order_path(:id => @order ? @order.id : 0), :class=>"linkto-order-detail", remote: true do %>
			<div class="btn-preview-detail btn btn-primary">查看采购单</div>
		<% end %>
		
		<%= link_to order_path({:id => @order ? @order.id : 0, :breadcrumb_path_key => 'homepage,dashboard,edit', :is_edit => true }), :class=>"linkto-order-edit",  remote: true  do %>
			<div class="btn-edit-detail btn btn-primary">修改订单</div>
		<% end %>
      
      <div class="btn-close btn btn-primary">关闭</div>
    </div>



  </div>
</div>