<div class="my-profile-page">
	<div class="tab-headers">
		<ul class="tab-items">
			<li class="tab-item tab-item-active" >
				<a href="" data-remote="true"> <span>账户信息</span> </a>
			</li>
			<li class="tab-item  " >
				<a href="" class=" " data-remote="true"> <span>密码修改</span> </a>
			</li>
			<li class="tab-item  " >
				<a href="" class=" " data-remote="true"> <span>公司信息</span> </a>
			</li>
		</ul>
	</div>

	<div class="tab-content">
		 
			 
	</div>

</div>