<div class="reg_top">
	<div class="reg_top_main">
		<div class="pull_left">
			<span class="reg_header_text">欢迎注册</span>
		</div>
		<div class="pull_right">
			<%= link_to "首页",  orders_path, remote: true  %>
			<%= link_to "帮助" %>
			<%= link_to "登录",  login_path %>
		</div>
	</div>
</div>

