<!-- right register tips -->
<div class="rightTipsArea">
	<div class="regSeperateLine"></div>
	<div class="tips">
		<p>
			已有账号？<%= link_to "立即登录",  logon_path, class:"cor_yellow" %>
		</p>
	</div>
</div>