<div class="regHeader">
	<div class="regHeaderMain">
		<div class="pullLeft">
			<span class="pullLeftText">欢迎注册</span>
		</div>
		<div class="pullRight">
			<%= link_to "首页",  orders_path, remote: true  %>
			<%= link_to "帮助" %>
			<%= link_to "登录",  login_path %>
		</div>
	</div>
</div>

