<!-- right register tips -->
<div class="right_tips_area">
	<div class="seperate_line"></div>
	<div class="tips">
		<p>
			壹百万账户可以创建自己的采购单, 对其他供应商的订单进行竞价!
			<br>
			如果您已拥有壹百万帐户，则可<%= link_to "在此登录",  login_path, class:"cor_yellow" %>
		</p>
	</div>
</div>