<div class="regContainer">
	<div class="banner-wrap">
		<p class="rb1">
			注册成功！
		</p>
	</div>

	<div class="userBasicInfoContainer">

		<%= link_to "免费注册", './', class:"button submitBtn" %>

	</div>

</div>



