<div class="reg_container">
	<div class="reg_main">

		<div class="reg_main_body">
			
			<div class="icon_success"><img src="../img/reg/register_success.png"></div>
			<span class="success_text">注册成功！</span>

		</div>

	</div>

</div>

