<div class="communicationArea">
	<!-- header -->
	<div class="comm_header">
		<span class="comm_header_text">发送私信给</span> <span class="role-name">赵经理</span>
		<div class="close_btn"><span class="glyphicon glyphicon-remove close-btn"></span></div>
	</div>
	<!-- content -->
	<div class="comm-order-descr">
		<div class="order-short-descr">
			采购：xxxx
		</div>
		<div class="order-new-price">
			竞拍价格：
			<input />
		</div>
	</div>

	<div class="comm-text-area">
		<textarea placeholder="输入文字"></textarea>
	</div>

	<!-- footer -->
	<div class='comm-footer'>
	<button type="button" class="btn btn-primary">发送</button>
	</div>
	

</div>
