<div class="create-success-area">
	<!-- close button -->
	<div class="close_btn">
		<span class="glyphicon glyphicon-remove close-btn"></span>
	</div>

	<!-- content -->
	<div class="hint-descr">
		<div class="icon_create_success"><img src="../img/reg/register_success.png">
			</div>
		<div class="success-create-tip">
			成功创建采购单！
		</div>
	</div>

	<div class="step-tips">
		<button type="button" class="btn btn-primary btn-publish">
			立即发布
		</button>
		<button type="button" class="btn btn-default btn-publish">
			预览采购单
		</button>
	</div>
</div>
