<%
 is_searching = params[:action]=="search"
%>
<% if is_searching %>
<div class="totalCount">
	<span> 您找到采购单: </span><span class="totalCountNumber"><%= @orders.total_count %>个</span>
</div>
<% end %>

<div class = "orders_container">

	<% @orders.each do |order| %>
		<%= render :partial => "orders/order_item_tile", :locals => { :@order => order, :@is_searching => is_searching} %>

	<% end %>

</div>

<div class="pagination_area">
	<%= paginate @orders, :remote => true  %>
</div>
