<div class="quickview">
	<!-- close button -->
	<img src="../img/close_btn.png" class="logon_close_btn">
	<!-- content -->
	<div class="left_view">
		<div class="header_master">
			order master data
		</div>
		<div class="middle_stat">
			statistics
		</div>
	</div>

	<div class="right_view">
		<button class="full_details_btn"><span>查看详情</span></button>
		
		<button class="quick_bid_btn"><span>快速竞拍！</span></button>
	</div>

	<div class="footer_view">
		other information
	</div>
</div>
