<div class="orderDetailPage">
	<div class="leftWrapper">
		<!-- header info -->
		<article class="orderSummaryContainer">
			<div class="orderSummary">
				<div class="sumHeader">
					<div class="order-must-title">
						采购：<span>301、302不锈钢，钢管，0.4吨</span>
					</div>
					<div class="order-id">
						订单编号: <%= @order.id %>
					</div>
				</div>

				<div class="sumContent">
					<div class="order-img">
						<img src= "../img/sample_item_img.jpg" />
					</div>
					<div class="order-sum-area">
						<div class="order-sum-keywords">
							<ul>
								<li>
									<p class="title">
										采购公司
									</p>
									<span class="value">温州***材料有限公司</span>
								</li>
								<li>
									<p class="title">
										收货城市
									</p>
									<span class="value">浙江，台州</span>
								</li>

								<li>
									<div class="order-timecounter"></div>
									<span>截止日期：2014.6.30</span>
								</li>
							</ul>
						</div>
						<div class="order-sum-other-info">
							<div class="sum-info">
								<div class="purchaser-company-name">
									采购商：温州***材料有限公司
								</div>
								<div class="split-line"></div>
								<div class="other">
									other
								</div>
							</div>
						</div>
					</div>

				</div>

				<hr class="dashed">
			</div>
		</article>

		<!-- content info -->
		<article class="orderContainer">
			<div class="orderInfoContainer">
				<div class="orderInfo">
					<h3>采购明细</h3>
					<hr class="dashed">
					<!-- item table TODO hardcode -->
					<table class="itemTable">
						<tbody>
							<tr class="title">
								<th>物料编码</th>
								<th>物料名称</th>
								<th>型号</th>
								<th>规格</th>
								<th>长/宽/高（mm）</th>
								<th>数量（吨）</th>
							</tr>
							<tr>
								<td>1001</td>
								<td>不锈钢</td>
								<td>301</td>
								<td>方管</td>
								<td>D*200*5600</td>
								<td>0.8</td>
							</tr>
							<tr class="alt">
								<td>1002</td>
								<td>不锈钢</td>
								<td>412</td>
								<td>方管</td>
								<td>D*300*5600</td>
								<td>1.5</td>
							</tr>
							<tr>
								<td>1011</td>
								<td>螺纹钢</td>
								<td>D3</td>
								<td>螺纹钢</td>
								<td>D*150*8000</td>
								<td>2.0</td>
							</tr>
						</tbody>
					</table>

					<!-- description detail list -->
					<div class= "descrDetail">
						<div class="descrDetailTitle">
							关键信息
						</div>
						<table class="descrDetailInfo">
							<tbody>
								<tr>
									<td>采购商：</td>
									<td class="value">深圳***金属加工公司</td>
								</tr>
								<tr>
									<td>收货地址：</td>
									<td class="value">佛山，广东</td>
								</tr>
								<tr>
									<td>收货日期：</td>
									<td class="value">2014年3月15日</td>
								</tr>
								<tr>
									<td>竞拍截止时间：</td>
									<td class="value">2014年2月20日</td>
								</tr>
								<tr>
									<td>付款方式：</td>
									<td class="value">押金+发货付款</td>
								</tr>
								<tr>
									<td>物流运输费用：</td>
									<td class="value">供应商承担</td>
								</tr>
								<tr>
									<td>是否区域采购：</td>
									<td class="value">是</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="vendorDemands">
						<div class="vendorDemandsTitle">
							采购商要求
						</div>
						<div class="vendorDemandsInfo"></div>
					</div>
				</div>

				<!-- buyer company details info -->
				<div class="buyerDetailsInfo">
					<h3>采购商公司信息</h3>
					<hr class="dashed">
					<div>
						test
					</div>
				</div>

			</div>
		</article>

	</div>

	<div class="rightWrapper">
		<!-- order bid functions area -->
		<div class="wall" id="bidActionArea">
			<div class="lastBidPrice">
				<div class="title">
					最新竞拍金额（元）
				</div>
				<div class="price">
					<span>¥ </span>4.30<span class="RMB"> 万</span>
				</div>
			</div>
			<div class="bidStatusTag">
				竞价中 <span class="triangle"></span>
			</div>
			<div class="bidCount">
				12个竞拍
			</div>

			<div class="lastBidVendor">
				竞价方：<span class="companyInfo">赣州***金属材料有限公司</span>
			</div>

			<div class="bidField">
				<!-- TODO -->
				<div class="bidPriceField">
					<input name="myBidPrice" placeholder="  我的竞价">
					<p class="inputUnit">
						万元
					</p>
				</div>
			</div>

			<div class="bidBtn">
				<span class="bidBtnText">竞价</span>
			</div>

		</div>

		<div class="wall" id="communicationArea">
			<div class="avatarInfoContainer">
				<!-- TODO link to user info page -->
				<div class="avatarTitle">
					<p>
						赵经理
					</p>
					<p class="role">
						（采购经理）
					</p>
				</div>
				<div class="avatarImg"></div>
				<p class="registerTime">
					注册时间 2013-3-23
				</p>
				<!-- TODO (:buyer_id => order.buyer_id) -->
				<%= link_to comm_dialog_show_path, :class=>"comm-dialog-show", remote: true do %>
				<span>发送私信</span>
				<% end %>

			</div>

		</div>

		<div class="wall" id="avatar-verification-area">
			Personal & Company Verification Info
		</div>

		
	</div>



</div>
