<div class="order_detail_page">
	<div class="detail_header">
		header
	</div>
	<div>
		<table class="detail_content">
			<tbody>
				<tr>
					<td class="items_table" colspan="2">items table</td>
				</tr>
				<tr>
					<td class="order_other_info_area">other info</td>
					<td class="order_tips_area">tips</td>
				</tr>
				<tr>
					<td class="others" colspan="2">others</td>
				</tr>

			</tbody>
		</table>

		<table class="bid_area">
			<tbody>
				<tr>
					<td class="bid_action_area">bid action</td>
				</tr>
				<tr>
					<td class="bid_comm_area">communication</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
