<dt class="f_label" ></dt>
<dd class="f_input">
	<a href="javascript:void()"  class="button orange  verify-button" id="btn_verify_company"><span>立即验证</span></a>
	<span id="vefiry_msg_area" ></span>
</dd>