<div class="company-info">
	<!-- header -->
	<div class="dialog-header">
		<div class="dialog-header-text">
			<span>公司详情</span>
		</div>
		<div class="close_btn">
			<span class="glyphicon glyphicon-remove close-btn"></span>
		</div>
	</div>
	<!-- content -->
	<div class="content">
		<div class="brief-intro">
			<div class="company-logo">
				<img src="../img/default_user_portrait.gif" class="">
			</div>
			<div class="company-name">
				<%= @company.name %>
			</div>
		</div>
		
		
		<!-- tabs -->
		<div class="tab-headers masterdata-tabs">
			<ul class="nav nav-tabs  tab-items">
				<li class="active" >
					<a href="#home_intro" class="tab-item" id="tab-home-intro" role="tab" data-toggle="tab">店铺首页</a>
				</li>
				<li>
					<a href="#sales_products" class="tab-item" id="tab-my-purchase-forpaid-orders" role="tab" data-toggle="tab">供应产品</a>
				</li>
				<li>
					<a href="#profile" class="tab-item" id="tab-my-purchase-complete-orders" role="tab" data-toggle="tab">公司档案</a>
				</li>
				<li>
					<a href="#bid_info" class="tab-item" id="tab-my-purchase-complete-orders" role="tab" data-toggle="tab">参与竞价</a>
				</li>
			</ul>
		</div>

		<div class="tab-content">

			<div class="tab-pane active" id="home_intro">
				<%= render "companies/home_intro" %>
			</div>
			
			<div class="tab-pane" id="sales_products">
				sales products
			</div>
			
			<div class="tab-pane" id="profile">
				profile
			</div>
			
			<div class="tab-pane" id="bid_info">
				bid info
			</div>

		</div>

	</div>
</div>

</div>