<div class="company-info">
	<!-- header -->
	<div class="dialog-header">
		<div class="dialog-header-text">
			<span>公司详情</span>
		</div>
		<div class="close_btn">
			<span class="glyphicon glyphicon-remove close-btn"></span>
		</div>
	</div>
	<!-- content -->
	<div class="content">
		<div class="brief-intro">
			<div class="company-logo">
				<img src="../img/default_user_portrait.gif" class="">
			</div>
			<div class="company-name">
				<%= @company.name %>
			</div>
		</div>
		<!-- tabs -->
		<div class="tab-headers masterdata-tabs">
			<ul class="nav nav-tabs  tab-items">
				<li class="active" >
					<a href="#my_purchase_bidding_orders" class="tab-item" id="tab-my-purchase-bidding-orders" role="tab" data-toggle="tab">店铺首页</a>
				</li>
				<li>
					<a href="#my_purchase_forpaid_orders" class="tab-item" id="tab-my-purchase-forpaid-orders" role="tab" data-toggle="tab">供应产品</a>
				</li>
				<li>
					<a href="#my_purchase_complete_orders" class="tab-item" id="tab-my-purchase-complete-orders" role="tab" data-toggle="tab">公司档案</a>
				</li>
				<li>
					<a href="#my_purchase_complete_orders" class="tab-item" id="tab-my-purchase-complete-orders" role="tab" data-toggle="tab">参与竞价</a>
				</li>
			</ul>
		</div>
	</div>
</div>

</div>