<div class="pay-steps-bar">
	<ul class="list-inline">
		<li class="step-current">
			<span>1.  确认竞价信息</span>
		</li>
		
		<li>
			<i class="glyphicon glyphicon-arrow-right pay-step-arrow"></i>
		</li>

		<li>
			<span>2. 付订金到壹百万</span>
		</li>
		
		<li>
			<i class="glyphicon glyphicon-arrow-right pay-step-arrow"></i>
		</li>


		<li>
			<span>3.  竞拍成功完成 </span>
		</li>
	</ul>
</div>
