/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 *= require jquery.ui.all
 *
 * NOTE: bootstrap and other css still loaded after application.css even if it lists here!
 *= require bootstrap
 *
 *= require bootstrap-responsive
 */

html {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

body, input, select, textarea, button {
	font-size: 13px;
	line-height: 1.4;
}

media="screen"
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-left-100 {
	padding-left: 100px;
}

.hide {
	visibility: hidden !important;
}

.button {
	margin: 16px 0 0 0;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	color: #7c7c7c;
	display: block;
	font-size: 16px;//
	height: 44px;
	line-height: 44px;
	text-align: center;
	width: 320px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.orange {
	background: none;
	border: 0 none;
	background: #ff7a4d;
	color: #fff;
	border: 1px solid #ff7549;
}

/**--------------------------------- header --------------------------------------------*/

.header {
	height: 60px;
	min-width: 960px;
	display: block;
	background-color: #475359;
	border-bottom: 1px solid #ddd;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.header .masthead {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.header .masthead .logo_wrap {
	position: relative;
	float: left;
	width: 200px;
	height: 60px;
	background-size: contain;
	background: url("../img/logo_2.png") no-repeat center center; /* image is put under folder public */
}

/* ==========  home header menu =============*/

.header .masthead .menu_bar {
	width: 400px;
	position: relative;
	float: left;
	margin-left: 100px;
}

.header .masthead .menu_bar > li {
	color: #111111;
	float: left;
	min-width: 80px;
	position: relative;
	list-style: none;
	line-height: 40px;
}

.header .masthead .menu_bar > li a {
	color: #111111;
	font-size: 17px;
}

/* ==========  home header right =============*/

.header .masthead .header_right {
	position: relative;
	float: right;
	width: 420px;
}

.header .masthead .header_right a {
	color: #fff;
}

.header .masthead .header_right a:hover {
	text-decoration: none;
}

.header .masthead .header_right .welcome-signin {
	font-size: 14px;
	color: white;
	font-weight: bold;
	position: relative;
	list-style: none;
	float: left;
}

.header .masthead .header_right .welcome-signin a:hover {
	color: #bbb;
}

.header .masthead .header_right .welcome-signin .logon {
	float: left;
	width: 80px;
	position: relative;
	top: 20px;
	text-align: center;
	list-style: none;
}

.header .masthead .header_right .welcome-signin .register {
	list-style: none;
	width: 80px;
	position: relative;
	top: 20px;
	text-align: center;
	float: left;
}

.header .masthead .header_right .create_purchase_order_btn {
	width: 180px;
	height: 40px;
	font-weight: bold;
	background-color: #fed231;
	border-radius: 5px;
	position: relative;
	left: 30px;
	top: 10px;
	cursor: pointer;
	float: left;
}

.header .masthead .header_right .create_purchase_order_btn a {
	color: #333;
}

.header .masthead .header_right .create_purchase_order_btn:hover {
	background-color: #fce359;
}

.header .masthead .header_right .create_purchase_order_btn .create_po_text {
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 35px;
}

.header .logon_role {
	padding-top: 20px;
	cursor: pointer;
}

.header .reigster_role {
	padding-top: 20px;
	cursor: pointer;
}

.header  .search-bar {
	margin-left: 50px;
	width: 200px;
	padding-top: 3px;
}

.header .search-bar input[type="submit"] {
	float: right;
	top: 5px;
	right: -70px;
	position: absolute;
}

/* ==========  home filter bar =============*/

.home_filter_bar_area {
	float: left;
	width: 100%;
	height: 100px;
	background-color: #F2F2F2;
}

.home_filter_bar_area .filter_bar {
	font-size: 18px;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	width: 800px;
	height: 50px;
	position: relative;
	text-align: center;
	top: 30px;
	left: 250px;
}

.home_filter_bar_area .filter_text {
	color: #555;
}

.home_filter_bar_area .filter_location {
	font-weight: bold;
}

.home_filter_bar_area .filter_wrapper {
	float: left;
}

.home_filter_bar_area .more_filters_wrapper {
	float: left;
	width: 50px;
	height: 50px;
	background: url("../img/filter_add.png") no-repeat no-repeat;
	position: relative;
	bottom: 5px;
}

/*** ----------------------- content ------------------------ */

.homepage a {
	color: #EEE;
	font-size: 20px;
	margin-left: 200px;
	vertical-align: middle;
	text-decoration: none;
}

.homepage a:hover {
	color: #ccc;
	cursor: pointer;
}

.left_wrapper {
	display: block;
	clear: left;
	float: left;
	padding-left: 10px;
	width: 10%;
	height: 100%;
	position: relative;
	z-index: 199;
	top: -2px;
	left: 0px;
	width: 203px;
}

.right_wrapper {
	display: block;
	float: left;
	width: 12%;
	margin-left: 50px;
	margin-top: 50px;
	background-color: #eee;
}

.hot_tags_area {
	display: block;
	border-radius: 5px;
	border: 1px #eee solid;
	background-color: #eee;
	margin-top: 10px;
	min-height: 100px;
	padding: 20px 10px;
}

.content_area {
	margin: 0 auto;
	min-height: 500px;
	min-width: 960px;
	max-width: 1200px
}

.dialog_logon {
	width: 360px;
	height: 450px;
	background-color: #fefefe;
	border: 1px solid #666;
	border-radius: 4px;
	box-shadow: 0 0 25px 12px #333;
	display: none;
}

.dialog_logon .logon_header {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	border-radius: 4px 4px 0 0;
}

.dialog_logon .logon_header_text {
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
}

.dialog_logon .logon_close_btn {
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
	background-position: 0px -142px;
	background-repeat: no-repeat no-repeat;
}

.dialog_logon .nl-login-intro {
	text-align: center;
	position: relative;
	top: 10px;
}

/*** ----------------------- footer ------------------------ */
.footer {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-top: solid 1px #999;
}

.error {
	color: red;
	background-color: yellow;
}

//
create new order

.order_onboarding {
	display: block;
}

.order_onboarding .onboarding_header {
	margin: 22px 0;
	text-align: center;
}

.order_onboarding .shift {
	position: relative;
	font-size: 26px;
	top: 15px;
	background-color: white;
	padding: 0 10px;
}
.order_onboarding hr {
	margin-top: -2px;
}

.order_onboarding .lead {
	font-size: 16px;
	font-weight: 200;
	line-height: 40px;
	position: relative;
}

.order_onboarding .panel_background_blue_radial {
	width: 100%;
	height: 500px;
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
	box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
	background: #0f92cd;
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, color-stop(20%, #30b9f1), color-stop(100%, #0f92cd));
	background-image: -webkit-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
	background-image: -moz-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
	background-image: -ms-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
	background-image: -o-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
	background-image: radial-gradient(farthest-side circle at center center, #30b9f1 20%, #0f92cd 100%);
	border-radius: 3px;
}

.order_onboarding .panel_inner_padding {
	padding: 40px 0;
	color: white;
	font-size: 20px;
}

.order_onboarding .panel_inner_padding .row {
	position: relative;
	text-shadow: 1px 1px #333;
	left: 250px;
	float: left;
}

.order_onboarding_form .selectors {
	line-height: 100px;
	text-align: right;
}

.order_onboarding .panel_inner_padding .select_row {
	position: relative;
	left: 280px;
	float: left;
}

.select_row .category_select {
	width: 750px;
	height: 70px;
	position: relative;
}

.select_row .btn_group {
	position: relative;
}

.select_row .btn_group ul {
	margin: 0 0 25px;
}

/** ---- category selection dropdown list --- **/

.category_select .dropdown_container {
	position: relative;
	width: 100%;
}

.category_select .dropdown_container .dropdown_btn_text {
	float: left;
}

.category_select .icon_dropdown {
	background: url("../img/icon_arrow_down.png") no-repeat center center;
	background-size: contain;
	position: relative;
	top: 15px;
	margin: auto 0;
	left: 10px;
	width: 20px;
	height: 20px;
	float: left;
}

.category_select .dropdown_list {
	width: 100px;
	height: 250px;
	position: absolute;
	top: 60px;
	right: 18px;
	z-index: 2000;
	min-width: 130px;
	padding: 0;
	list-style: none;
	color: #333;
	background-color: #fff;
	border: 1px solid #eee;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.category_select .dropdown_list.hidden {
	display: none;
}

.category_select .dropdown_list .item {
	border-bottom: 1px solid #ddd;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	float: left;
	list-style: none;
	height: 35px;
	cursor: pointer;
	position: relative;
	top: 0px;
}

.category_select .dropdown_list .item:hover {
	background-color: #99025a;
	color: white;
}

/** --- end dropdown --- **/

.order_onboarding .select_btn {
	padding: 16px 12px;
	height: 60px;
	text-shadow: 0 1px rgba(255,255,255,0.6);
	float: left;
	font-weight: bold;
	display: block;
	padding: 0.4em 1.2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-color: #0195eb #0083c7 #0175b8 #0083c7;
	font-size: 17px;
	line-height: 50px;
	color: #393c3d;
	text-shadow: 1px 1px #eee;
	border: 1px solid rgba(255,255,255,0.2);
	background: #98DAF6;
	cursor: pointer;
}

.order_onboarding .select_btn:first-child {
	border-radius: 5px 0 0 5px;
}

.order_onboarding .category_select .select_btn:last-child {
	width: 100px;
	border-radius: 0 5px 5px 0;
}

.order_onboarding .select_btn:hover {
	background: #52c1f0;
}

.order_onboarding .select_btn.selected {
	background: #cb0378;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
	color: white;
	text-shadow: 1px 1px #333;
}

.select_row .bid_select {
	width: 600px;
	height: 100px;
	position: relative;
}

.bid_select .icon_global {
	background: url("../img/multi.ico") no-repeat center center;
	background-size: contain;
	position: relative;
	width: 25px;
	height: 25px;
	float: left;
	top: 10px;
	margin-right: 5px;
}

.bid_select .icon_local {
	background: url("../img/single.ico") no-repeat center center;
	background-size: contain;
	position: relative;
	width: 25px;
	height: 25px;
	top: 10px;
	float: left;
	margin-right: 5px;
}

.bid_select .select_btn:last-child {
	width: auto;
	border-radius: 0 5px 5px 0;
}

.select_row .city_select {
	width: 300px;
	height: 100px;
	position: relative;
}

.select_row .city_select .bg {
	height: 60px;
	background-color: #98DAF6;
	border-radius: 5px;
}

.select_row .city_select .icon_location {
	background: url("../img/icon_location.png") no-repeat center center;
	background-size: contain;
	position: relative;
	width: 30px;
	height: 30px;
	top: 15px;
	left: 20px;
}

.select_row .city_select .bg .city_input {
	width: 220px;
	height: 30px;
	position: absolute;
	top: 12px;
	right: 20px;
	border-radius: 4px;
	border: 1px solid #eee;
}

.panel_background_blue_radial .next_btn {
	position: absolute;
	left: 590px;
	top: 600px;
	width: 150px;
	height: 40px;
	background-color: #99025a;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	text-align: center;
}

.panel_background_blue_radial .next_btn:hover {
	background-color: #cb0378;
}

.next_btn.disabled {
	cursor: default;
	opacity: 0.4;
	color: #afe2ff;
}

.next_btn.disabled:hover {
	background-color: #99025a;
}

.next_btn .next_txt {
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
