/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 *= require jquery.ui.all
 *
 * NOTE: bootstrap and other css still loaded after application.css even if it lists here!
 *= require bootstrap.min
 *
 *= require bootstrap-theme.min
 *
 *= require responsiveslides
 */

html {
	display: block;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	background-color: white;
}

/*
body {
	background-image: url('../img/wood.png');
}

*/

body, input, select, textarea, button {
	line-height: 1.4;
}

.main {
	/*background: url("../img/main-bg.jpg") repeat;*/
	/*background: #F2F2F2;*/
}

media="screen"
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-left-100 {
	padding-left: 100px;
}

.hide {
	visibility: hidden !important;
}

.button {
	color: #fff;
	background: #359ade;
	display: inline-block;
	min-height: 20px;
	min-width: 50px;
	width: auto;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	border-radius: 2px;
	border: 0;
	padding: 0 5px;
	text-align: center;
	
}

.orange {
	background: none;
	border: 0 none;
	background: #ff7a4d;
	color: #fff;
	border: 1px solid #ff7549;
}

/*** ----------------------- content ------------------------ */

.homepage a {
	color: #EEE;
	font-size: 20px;
	margin-left: 200px;
	vertical-align: middle;
	text-decoration: none;
}

.homepage a:hover {
	color: #ccc;
	cursor: pointer;
}

.left_wrapper {
	display: block;
	clear: left;
	float: left;
	padding-left: 10px;
	width: 10%;
	height: 100%;
	position: relative;
	z-index: 199;
	top: -2px;
	left: 0px;
	width: 203px;
}

.right_wrapper {
	display: block;
	float: left;
	width: 12%;
	margin-left: 50px;
	margin-top: 50px;
	background-color: #eee;
}

.hot_tags_area {
	display: block;
	border-radius: 5px;
	border: 1px #eee solid;
	background-color: #eee;
	margin-top: 10px;
	min-height: 100px;
	padding: 20px 10px;
}

.content_area {
	margin: 0 auto;
	min-height: 500px;
	min-width: 960px;
}

.central-screen {
	max-width: 1200px;
}

.breadcrumb_area {
	padding: 10px;
	color: #888;
}

.span-text {
	padding-right: 5px;
}

.breadcrumb-text-light {
	text-shadow: 1px 1px #eee;
}

.span-icon {/* NOTE: can only use font icon files under folder public */
	font-size: 16px;
	vertical-align: middle;
	padding-right: 3px;
}

.alert-warning-info {
	font-weight: bold;
	padding-right: 10px;
}

.fieldLabel {
	float: left;
	width: 100px;
	color: #666;
	text-align: right;
	height: 40px;
	line-height: 40px;
}

.fieldInput {
	height: 45px;
}

.align-right {
	text-align: right;
}

/*** --------------------- left wrapper ---------------------*/

.left-wrapper {
	width: 120px;
	background: #4aabcc;
	height: 100%;
	float: left;
	position: fixed;
	min-height: 590px;
	top: 0;
}

.left-wrapper .logo-wrap {
	position: relative;
	float: left;
	width: 200px;
	height: 55px;
	background-size: contain;
	background: url("../img/mock_logo.png") no-repeat center center;
}

.side-menu {
	margin-top: 100px;
}

.left-wrapper ul {
	margin: 0;
	padding: 0;
}

.left-wrapper li {
	list-style-type: none;
	height: 55px;
	position: relative;
	cursor: pointer;
}

.left-wrapper li:hover {
	background: #188fa2;
}

.left-wrapper li.active {
	background: #188fa2 url(../img/menu.png) -80px -44px no-repeat;
}

.left-wrapper .triangle-left {
	display: none;
}

.left-wrapper li:hover + .left-wrapper .triangle-left {
	display: block
}

.left-wrapper li a {
	display: block;
	line-height: 55px;
	text-align: center;
	font-size: 15px;
	color: #fff;
}

.left-wrapper li a:hover {
	text-decoration: none;
}

.left-wrapper .user-tool-icon {
	font-size: 16px;
	padding-right: 5px;
}

.left-wrapper .triangle-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid blue; 
}

/*** ----------------------- right wrapper -----------------**/

.right-wrapper {
	position: fixed;
	right: 0px;
	top: 200px;
	overflow: hidden;
	height: 280px;
}

.right-wrapper .help-link {
	border-radius: 5px 0 0 5px;
	width: 30px;
	height: 100px;
	text-align: center;
	cursor: pointer;
	background: #3da8b9;
	float: left;
	color: #FFFFFF;
}

/*** ----------------------- footer ------------------------ */
.footer {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-top: solid 1px #999;
}

.error {
	color: red;
	background-color: yellow;
}

