// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tree_container{
  display: block;  
 
  border-radius: 5px;
  border: 1px #eee solid;
  background-color: #eee;
  
  padding-left: 10px;
  padding-bottom: 50px;
}


.category_area { 
  
}