

.dashboard-page{
	height: 800px; 
	width: 100%;
	padding-top: 0px;
	border: 1px solid #ececec;
	background: #fff;
	font-size: 15px;
	
	.dash-header {
	  height: 45px;
    border: 1px solid #ececec;
    background: #428bca;
    padding: 10px;
    color: #ececec;
    font-size: 14px;
    position: absolute;
    width: 960px;
    ul {
      list-style: none;
      li {
        float: left;
      }
    }
    
    .title {
      color: #bbb;
    }

    .company-name {
      width: 300px;
    }
    .compnay-id {
      width: 150px;
    }
    .user-email {
      width: 280px;
    }
    .user-role {
      width: 150px;
    }
	}
	
	.grid_layout_area{
		display: inline;
		float: left;
		margin: 10px 0;
		border-radius: 3px;
	}
	
	.left-list{
		width: 150px;
		height: 100%; 
	  position: relative;
	  top: 45px;
		ul{
			list-style-type: none;
		}
		
		.ui-side-list{
			margin: 0 10px;
		}
		
		.ui-side-item{
			cursor: pointer;
			font-size: 14px;
			border: 1px solid #eee;
		}
		
		.ui-side-item.active{
			cursor: default;
			color: #fff;
			background: #00a8e8;
			font-weight: bold;
			
			a{
				color: #fff;
			}
		}
	}
	
	
	
	.right-area{
		height: 100%;
		width: 800px;
		position: relative;
		top: 45px;
		
		.dash-sum-area {
		  width: 100%;
		  height: 100px;
		  padding: 19px;
		  background-color: #fffbe2;
      border: 1px solid #e0e0e0;
      margin-bottom: 10px;
		}
		.dash-summary {
		  height: 150px;
		}
					
		
		> div{			 
			margin: 0;
			padding: 0;
			
			.tab-item i{
				padding: 0 5px;
			}
			
			/*
			.tab-headers{
				line-height: 50px;
			
				.tab-items{
					border-bottom: 0;
					list-style: none;
					margin: 0;
					padding: 0;
					font-size: 14px; 
					
					.tab-item{
						position: relative;
						list-style: none;
						vertical-align: top;
						display: inline-block;
						padding: 0 30px;
						cursor: pointer;
					}
					
					.active{
						background: #fff;
						border: 1px solid #e0e0e0;
						border-top: 4px solid #00a8e8;
						cursor: default;
						
						a{
							cursor: default;
						}
						
					}
				} 
	
				li{
					float: left;
					list-style: none;
					
				}
			}
			*/
			
			
			.tab-content{
				padding: 10px;
				border: 1px solid #e0e0e0;
				border-top: none; 
				background: #fff;
				display: block;
				
				min-height: 500px;
				
				/*
				float: left;
				position: absolute;
				top: 50px;
				width: 100%;
				*/				
				
				
				.panel-body{
					
					> div{
						position: relative;
						float: left;
					}
					
					.action-link{
						text-align: right;
					}
					
					.bid_progressbar_area{
						height: 25px;
						> span{							
    						float: left;  
    						position: relative;
						}
						
						> div.bid_progressbar {
							height: 10px;	
							width: 80px;
							position: relative;
							top: 6px;							
							left: 6px;

                          /* reset to fix the style */
                          .ui-progressbar-value{
                            margin: 0;
                          }
						}
					}
					
					> div.bid-hist-list{
						clear: both;
						width: 100%;
						
						.button{
							background-color: #428bca;
							border: none;
                            color: #000;
						}
						
						.btn-hidden{
							display:none;
						}
						
						p{
							text-align: center;
							padding-top: 10px;
						}

                        .inactive-bid{
                          color: #ccc;
                        }

                        .active{
                          font-weight: bold;
                          color: #000;

                          .bid-price{
                            color: red;
                            font-size: 14px;
                          }
                        }
					}
				}
				
				.row-height{
					line-height: 25px;
				}
				
				.highlight_text{
					font-weight: bold;
				}
				
				.order-img-area{					
					width: 150px;
					
					.order-image{
						height: 80px;
						width:auto;
					}
				}
				
				div.order-actions{
					float: right;
					right: 0px;
				}
			}
			
			
		}
		
	}
	
	
	
  
	
	.pagination_area{
		float: none;	
	}
	
	
	.pw-form{
		text-align: center;
		padding: 0 30%;	
	}
	
	dt, dd{
		padding: 10px 10px;
		
	}
	
	dt {
		float: left;
		width: 100px;
		text-align: right;
	}
	
	dd span{
		display: inline-block;
	}
	
	.algin_right {
		float: right;
		margin-top: -18px;
	}
	 
}