

.dashboard-page{
	height: 800px; 
	width: 100%;
	padding-top: 0px;
	
	.widget {
    width: 100%;
    padding: 15px;
    background: #fff;
    float: left;
    margin-bottom: 20px;
  }
	
	.right-area{
		position: relative;
		top: 0px;
    
    .box-summary {
      background: #fff7c9;
    }
    
    .box-summary-left {
      padding-right: 20px;
      width: 280px;
      float: left;
    }
    
    h4 {
      font-size: 15px;
      font-weight: 800;
      color: #555;
    }
    
    .bidding_order_count {
      padding-left: 10px;
    }
    
    .box-summary-right {
      padding-left: 19px;
      color: #696969;
      float: left;
      border-left: 1px solid #e0e0e0;
      
      .dash-create-order-btn {
        left: 20px;
        bottom: 20px;
      }
    
    }
    
    .dash-summary {
      .summary-left{
        padding-right: 20px;
        width: 280px;
        float: left;
        
        .user-comp-default {
          float: left;
        }
        
        .welcome-title {
          float: left;
          padding: 10px;
          max-width: 200px;
        }
      }
      
      .summary-right {
        padding-left: 19px;
        color: #696969;
        float: left;
        
      }
      
      .summary-bottom {
        width: 90%;
        float: left;
      }
		}
		
		.grid-header {
		  width: 100%;
		  line-height: 45px;
		  color: #fff;
		}
		
		.grid_1 {
		    width: 200px;
        float: left;
        list-style: none;
        margin-right: 10px;
        text-align: center;
        border-radius: 2px;
		}
		
		.grid_2 {
        width: 160px;
        float: left;
     }
     
    .grid-body {
      line-height: 50px;
      text-align: center;
    }
          
    .alpha {
      background-color: #ffd3ce;
      .alpha-header {
        background-color: #fe8e82;
      }
    }
    
    .beta {
      background-color: #d6eabf;
      .beta-header {
        background-color: #b0d786;
      }
    }
    
    .gamma {
      background-color: #f7e5cb;
      .gamma-header {
        background-color: #edc389;
      }
    }
    
    .omega {
      background-color: #a0ddec;
      .omega-header {
        background-color: #60c6df;
      }
    }
    
    .text-big {
    }	
    
    .num-big {
      width: 100px;
      margin-left: 20px;
    }
    
    .grid-count {
      font-size: 26px;
      text-decoration: none;
      color: #888;
    }
    
		> div{			 
			margin: 0;
			padding: 0;
			
			.tab-content{
				.panel {
				  border-radius: 0px;
				}
				
				.panel-heading {
				  background-image: none;
				  background-color: #E7F0F9;
				  
				  .order-status-bidding {
				    color: #EE4C08;
				    font-weight: bold;
				  }
				  
				  .order-status-forpaid {
				    color: orange;
				    font-weight: bold;
				  }
				  
				  .order-status-completed {
            color: green;
            font-weight: bold;
          }
          
          .order-status-closed {
            color: red;
            font-weight: bold;
          }
				  
				  .order-number {
				    max-width: 250px;
            text-align: right;
				  }
				  
				  .order-create-date {
				    max-width: 250px;
				    position: relative;
            left: 55px;
				  }
				  
				  .order-detail-link {
				    font-weight: 800;
				    float: right
				  }
				  
				  .order-detail-link:hover {
				    text-decoration: none;
				  }
				}
				
				
				.panel-body{
					padding: 0px;
					> div{
						position: relative;
						float: left;
					}
					
					.row-action {
					   float: right;
					   margin-top: 10px;
  					.action-link{
  						float: left;
  						
  						.action-text {
  						  padding-left: 20px;
  						}
  						.action-text:hover {
  						  text-decoration: none;
  						}
  					}
					
					}
					
					.bid_progressbar_area{
						height: 25px;
						> span{							
    						float: left;  
    						position: relative;
						}
						
						> div.bid_progressbar {
							height: 10px;	
							width: 80px;
							position: relative;
							top: 6px;							
							left: 6px;

              /* reset to fix the style */
              .ui-progressbar-value{
                margin: 0;
              }
						}
						
					 >div.dash-bid-progressbar {
              height: 12px;
              width: 110px;
              position: relative;
              top: 6px;
              left: 8px;
					 }
					}
					
					> div.bid-hist-list{
						clear: both;
						width: 100%;
						
						.button{
							border: none;
              width: 80px;
              height: 35px;
              line-height: 35px;
						}
						
						.btn-hidden {
							display:none;
						}
						
						.btn-approve {
						  position: relative;
              left: 10px;
              bottom: 10px;
						}
						
						p{
							text-align: center;
							padding-top: 10px;
						}

            tr.active>td{
              color: #333;
              background-color: #fff;
              .bid-price{
                color: red;
                font-size: 14px;
              }
            }
            
            tr:hover>td {
              background-color: #fff7c9;
              cursor: pointer;
            }
            
            tr.hint>td {
              background-color: #ffec7d;
            }
            
            .text-left {
              text-align: left;
            }
            .text-right {
              text-align: right;
            }
					}
				}
				
				.row-height{
					line-height: 25px;
				}
				
				.highlight_text{
					font-weight: bold;
				}
				
				.no-bid-text {
          padding-top: 0px;
        }
				
				.order-img-area{					
					width: 150px;
					padding: 10px;
					
					.order-image{
						height: 80px;
						width:auto;
					}
				}
				
				.order-digest {
				  padding: 10px;
				}
				
				div.order-actions{
					float: right;
					right: 0px;
					padding: 10px;
				}
			}
			
			
		}
		
	}
	
	
	
  
	
	.pagination_area{
		float: none;	
	}
	
	.tab-item-header {
	  margin-bottom: 15px;
	}
	
	
	.pw-form{
		text-align: center;
		padding: 0 30%;	
	}
	
	dt, dd{
		padding: 10px 10px;
		
	}
	
	dt {
		float: left;
		width: 100px;
		text-align: right;
	}
	
	dd span{
		display: inline-block;
	}
	
	.algin_right {
		float: right;
		margin-top: -18px;
	}
	
	.sep-line {
      margin-top: 10px;
  }
  
  .dash-refresh-icon {
    text-decoration: none;
    float: right;
  }
  
  table {
    font-size: 13px;
    thead {
      border: 1px solid #C8CED3;
      border-left: none;
      border-right: none;
      background: url(../img/prolist_tit.jpg) repeat-x 0 0;
      th {
        font-weight: normal;
        text-align: center;
      }
    }
    
    tbody {
      border: none;
      td {
        background-color: #f8f8f8;
        color: #888;
        border: 1px solid #C8CED3;
        border-left: none;
      }
      
    }
    
  }
  
  .approve-btn {
    text-align: center;
  }
  
  .radio-button-approve-vendor {
    cursor: pointer;
  }
  
  .order-title {
    font-weight: 800;
  }
  
  .order-title:hover {
    text-decoration: none;
  }
  
  .msg-area {
    padding-left: 0px;
  }
  
  .alert-msg {
    background-image: none;
  }
  
  
  //---- guide -----//
  .list-guide {
    height: 400px;
//    border: 2px solid rgba(23, 195, 229, 0.2);
    
    .guide-header {
      margin-top: 0px;
      color: gray;
      font-weight: 800;
      text-align: left;
      margin-bottom: 10px;
    }
    
    .opt-role {
      width: 50%;
      height: 200px;
      float: left;
    }
    
    h5 {
      text-align: center;
      color: #666;
      font-weight: 800;
      margin-bottom: 40px;
    }
    
    .stepline-group {
      margin: auto 0px;
      padding-left: 20px;
      
      li {
        float: left;
        list-style: none;
      }
      
      .stepline-box {
        width: 180px;
        margin-top: 30px;
        border-top: 1px solid #1fafd3;
        position: relative;
        
        .stepline-position {
          position: absolute;
          top: -32px;
          left: 45px;
          width: 70px;
          height: 70px;
          color: #fff;
        }
        
        .stepline-circle {
          border-radius: 50%;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          h4 {
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 5px;
            font-family: 'Microsoft yahei', "SimSun", Tahoma;
          }
        }
        
        .stepline-content {
          margin: 50px 0px 10px 50px;
        }
        
        .guide-left-btn {
          background: #4CC0DD;
          font-size: 12px;
          margin-bottom: 5px;
        }
        
        .guide-left-btn:hover {
          background: #27adcf;
        }
        
        .guide-right-btn {
          background: #bddd99;
          font-size: 12px;
          margin-right: 10px;
        }
        
        .guide-right-btn:hover {
          background: #b0d786;
        }
        
        .alpha {
          background-color: #1fafd3;
        }
        
        .beta {
          background-color: #b0d786;
        }
        
        a {
            line-height: 28px;
        }
        
        a:hover {
          text-decoration: none;
          color: #fff;
        }
        
      }
      
    }
    
    
  } // list-guide
  
	 
}