

.dashboard-page{
	height: 800px; 
	width: 100%;
	margin: 50px 10px;
	border: 1px solid #ececec;
	border-radius: 3px;
	
	.grid_layout_area{
		display: inline;
		float: left;
		margin: 10px 0;
		border-radius: 3px;
	}
	
	.left-list{
		width: 150px;
		height: 100%; 
				
		ul{
			list-style-type: none;
		}
		
		.ui-side-list{
			margin: 0 10px;
		}
		
		.ui-side-item{
			cursor: pointer;
			background: #ececec;
			font-size: 14px;
			.span-text{
				padding-right: 5px;
			}
			
			.span-icon{ /* NOTE: can only use font icon files under folder public */  
				font-size: 16px;
				vertical-align: middle;
			}
		}
		
		.ui-side-item.active{
			cursor: default;
			color: #fff;
			background: #00a8e8;
			font-weight: bold;
			
			a{
				color: #fff;
			}
		}
	}
	
	
	
	.right-area{
		height: 100%;
		width: 800px;
		position: relative;
					
		
		> div{			 
			margin: 0;
			padding: 0;
			
			.tab-item i{
				padding: 0 5px;
			}
			
			/*
			.tab-headers{
				line-height: 50px;
			
				.tab-items{
					border-bottom: 0;
					list-style: none;
					margin: 0;
					padding: 0;
					font-size: 14px; 
					
					.tab-item{
						position: relative;
						list-style: none;
						vertical-align: top;
						display: inline-block;
						padding: 0 30px;
						cursor: pointer;
					}
					
					.active{
						background: #fff;
						border: 1px solid #e0e0e0;
						border-top: 4px solid #00a8e8;
						cursor: default;
						
						a{
							cursor: default;
						}
						
					}
				} 
	
				li{
					float: left;
					list-style: none;
					
				}
			}
			*/
			
			
			.tab-content{
				padding: 10px;
				border: 1px solid #e0e0e0;
				border-top: none; 
				background: #fff;
				display: block;
				
				min-height: 500px;
				
				/*
				float: left;
				position: absolute;
				top: 50px;
				width: 100%;
				*/				
				
			}
			
			
		}
		
	}
	
	
	
 
	.ui-icon-home:before {
		content: "\f205";
	}
	 
	.icon:before {
		line-height: 1;
	}
	 
}