// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**--------------------------------- header --------------------------------------------*/

.header {
	min-width: 960px;
	display: block;
	/*border-bottom: 1px solid #ddd;*/
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-border-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.header .headerHelper {
	height: 24px;
	background: #555;
}

.header .headerHelper .helper {
	width: 960px;
	margin: 0 auto;
}

.header .helper .hpRight {
	float: right;
	line-height: 24px;
	width: 230px;
	text-align: right;
	color: #ccc;
}

.header .helper .hpRight .helperLink {
	float: left;
	padding: 0 10px;
	color: #bbb;
}

.header .helper .hpRight .helperLink:hover {
  color: #fff;
  text-decoration: none;
}

.header .headMain {
	height: 72px;
	background-color: #fff;
}

.header .masthead {
	width: 960px;
	margin: 0 auto;
}

.header .masthead .logoWrapper {
	position: relative;
		float: left;
		width: 200px;
		height: 72px;
		background-size: contain;
		background: url("../img/mock_logo.png") no-repeat center center; /* image is put under folder public */
}


/* ==========  home header menu =============*/

.header .masthead .menuBar {
	width: 300px;
	float: left;
	height: 72px;
	line-height: 72px;
	position: relative;
	
	.item {
	  float: left;
    width: 120px;
    text-align: center;
    list-style: none;
	}
	
}

.header .masthead .categorySeleted {
	padding: 0 10px;
	height: 20px;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background: #e60027;
	position: absolute;
	top: 73px;
	left: 520px;
	cursor: pointer;
}

.header .masthead .menuBar .menuItem {
	color: #555;
	font-size: 18px;
	
}

.header .masthead .menuBar .menuItem:hover{
	color: #2996cc;
	text-decoration: none;
}

.find-orders {
  height: 72px;
}

.ui-nav-dropdown {
    width: 160px;
    padding-left: 0px;
    margin-left: -20px;
    margin-top: -15px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 3px -1px #ccc;
    -moz-box-shadow: 0 0 3px -1px #ccc;
    box-shadow: 0 0 3px -1px #ccc;
    border-radius: 0px;
    
    .ui-nav-dropdown-item {
      min-width: 140px;
      margin: 2px 10px;
      padding: 2px 10px;
      a {
        padding: 0px;
      }
      a:hover {
        background-image: none; //override
        background-color: initial; //override
      }
      
    }
    
    .ui-nav-dropdown-item:hover {
      background: #00a8e8;
    }
    .ui-nav-dropdown-item:hover a{
      color: #fff;
    }
    
    .ui-nav-dropdown-angle {
      position: absolute;
      top: -5px;
      left: 46px;
      span {
        display: block;
        width: 9px;
        height: 5px;
        background: url("../img/nav-angle-up.png") no-repeat center center;
      }
    }
    
    .ui-nav-dropdown-separator {
      height: 0;
      margin: 5px 10px;
      border-bottom: 1px solid #f2f2f2;
      font-size: 0;
      min-width: 140px;
    }
        
}

.navi-icon {
  width: 20px;
}


/* ==========  home header right =============*/

.header .masthead .header_right {
	position: relative;
	float: right;
	width: 330px;
	height: 72px;
	
	.welcome-signin {
	  margin: 0px 5px;
    padding-left: 10px;
    font-size: 18px;
    height: 72px;
    position: relative;
    text-align: center;
    list-style: none;
    float: left;
    
    .my-profile-link {
      width: 180px;
      line-height: 72px;
      float: left;
      
      .dash-profile {
        color: #555;
      }
      .dash-profile:hover{
        color: #2996cc;
        text-decoration: none;
      }
    }
    
    li.clicked {
      background: #2996cc;
      color: #fff;
    }
    
    li.clicked + a {
      color: #fff;
    }
    
    .logon-register {
      width: 60px;
      line-height: 72px;
      float: left;
      a {
        color: #555;
      }
      a:hover {
        text-decoration: none;
        color: #2996cc;
      }
    }
    
  }
}

//----- TODO icons -------//

.arrowDown {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #555;
}

.header .masthead .header_right .welcome-signin .arrowDown {
	position: absolute;
	top: 36px;
	right: 0px;
	z-index: 1;
	
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #555;
	
}



.header .masthead .header_right .create_purchase_order_btn {
	width: 125px;
	height: 40px;
	text-align: center;
	background-color: #fed231;
	border: 1px solid #eccb00;
	border-radius: 5px;
	position: absolute;
	right: 0px;
	top: 15px;
	cursor: pointer;
	color: #555;
}

.header .masthead .header_right .create_purchase_order_btn:hover {
	background-color: #fce359;
	text-decoration: none;
}

.header .masthead .header_right .create_purchase_order_btn .create_po_text {
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
}

.header .logon_role {
	padding-top: 20px;
	cursor: pointer;
}

.header .reigster_role {
	padding-top: 20px;
	cursor: pointer;
}

.header  .search-bar {
	padding-top: 20px;
	float: left;
	width: 120px;
}

.header .search-bar input[type="submit"] {
	float: right;
	top: 5px;
}