// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// order list
.orders_container {
  position: relative;
  width: 100%;  
}

.orders_container .order_item{  
  width: 250px;
  position: absolute;
  min-height: 350px;
  clear: both;    
   
}
.order_item .item_inner_area{  
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d5cb;
  position: relative; 
  min-height: 350px;
  padding: 5px;
}

.order_item .item_image_container {
  overflow: hidden;
}

.order_item .order_quickview {
  opacity: 0;
  width: 238px;
  height: 230px;
  position: absolute;
  background: rgba(90, 90, 90, 0.7);
  top: 5px;
}

.order_item .order_quickview a {
  text-decoration: none;
}

.order_item .order_quickview:hover{
  opacity: 1;
  cursor: pointer;
}

.order_item .order_quickview .quickViewButton {
  color: #000;
  font-weight: bold;
  position: relative;
  top: 90px;
  width: 100px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  
}

.order_item .order_quickview .quickViewButton span {
  background: url("../img/icon_search.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.order_item .order_quickview .quickViewButton:hover {
  background: #eee;
}

.pagination_area{
  float: left;  
}


.algin_right{
  float: right;
  right: 0;
}


.order_item .order_image{
  height: 230px;
  width: 100%;
}

.order_item .order_image:hover{
  background-color: #333;
  opacity: 0.5;
}

.order_item .div_float_left_border_right{
  border-width:0px;
  border-right: 2px solid #fff;
  margin-right: 5px;
  padding-right: 5px;
  float: left; 
}


.order_item .order_cate_row {
  background-color: #555;
  opacity: 0.9;
  color: #fff;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  width: 238px;
  position: absolute;
  top: 195px;
}

.order_item .highlight_text{
  font-size: 16px;
  font-weight: 800;
}

.order_item  .row_margin{
   margin-top: 10px;
}

// progress bar
.order_item .bid_progressbar_area{
  height: 40px;
  overflow-y: hidden;
}

.order_item .bid_progressbar,// default height as placeholder, do not remove it!
.order_item .ui-progressbar{
  height: 25px;
}

.order_item .progress_label{
  padding: 0 5px;
  height: 0; // initial height, will change by js
}

.order_item .progress_label img{
  margin-right: 5px;
  display: none; 
}

.order_item .ui-widget-header { 
//  background: #63AFF5;
  background: #0088cc;
}

// for order detail page
.order_detail .float_left{
  float: left; 
}

// for new order page
.disabled_link{
  color: gray; 
  cursor: default;
}

// quick view dialog

.quickview {
  width: 100%;
  height: 100%;
}

.quickview div {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.quickview .left_view {
  width: 60%;
  height: 300px;
  float: left;
}

.quickview .left_view .header_master {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #666;
  padding: 20px;
  
  .orderHeader {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }
  
  .lastBidPrice {
    font-size: 18px;
    width: 200px;
    float: right;
    text-align: right;
  }
  
  .itemTableTitle {
    position: relative;
    left: 0px;
    width: 80px;
    top: 30px;
  }
}

.quickview .left_view .itemTable {
  width: 350px;
  height: 100px;
  margin: 0 auto;
  margin-top: 45px;
  border: 1px solid;
  
  .title {
    font-size: 12px;
  }
  
  .alt {
    background: #eee;
  }
  
}


.quickview .left_view .middle_stat {
  width: 100%;
  height: 30%;
  float: left;
}

.quickview .right_view {
  width: 40%;
  height: 100%;
  background: #eee;
  float: left;
  border-left: 1px solid #666;
}

.quickview .right_view .full_details_btn {
  width: 150px;
  height: 45px;
  background-color: #777;
  position: relative;
  float: left;
  color: #fff;
  border-bottom: 2px solid #666;
  text-shadow: 0 1px 0 #555;
  line-height: 45px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
  top: 20px;
  left: 50px;
  text-align: center;
}

.quickview .right_view .quickBidField {
  position: relative;
  top: 50px;
  left: 50px;
}

.quickview .right_view .quickBidField input {
  width: 145px;
  height: 30px;
  text-align: center;
}

.quickview .right_view .full_details_btn:hover {
  background: #888;
}

.quickview .right_view .quick_bid_btn {
  width: 150px;
  height: 45px;
  position: relative;
  top: 60px;
  left: 50px;
  background: #2996cc;
  color: #fff;
  float: left;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid #1c71ab;
  text-shadow: 0 1px 0 #555;
  border-radius: 3px;
  line-height: 45px;
  text-align: center;
}

.quickview .right_view .buyerInfo {
  font-size: 18px;
  position: absolute;
  top: 220px;
  right: 150px;
}

.quickview .right_view .quick_bid_btn:hover {
  background: #00a9e2;
}

.quickview .footer_view {
  width: 100%;
  height: 160px;
  float: right;
  border-top: 1px solid #666;
}

//**** order details page ****/
.orderDetailPage {
  width: 100%;
  height: 900px;
  
  .leftWrapper {
    margin-top: 40px;
    float: left;
    width: 860px;
  }
  
  .rightWrapper {
    margin-top: 40px;
    float: left;
  }
}

.orderDetailPage .orderSummary {
  width: 100%;
  height: 250px;
  float: left;
  background: #fff;
  text-shadow: 0 1px 0 #fff;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.orderDetailPage .orderSummaryContainer {
  margin-left: 0px;
}

.orderDetailPage .detailContent {
  width: 900px;
  height: auto;
  border: 1px solid #666;
  float: left;
}

.orderDetailPage .itemsTable {
  width: 300px;
  height: 150px;
  border: 1px solid #666;
}


.orderDetailPage .orderOtherInfoArea {
  width: 200px;
  height: 300px;
  border: 1px solid #666;
}

.orderDetailPage .orderTipsArea {
  width: 300px;
  height: 300px;
  border: 1px solid #666;
}

.orderDetailPage .others {
  width: 500px;
  height: 200px;
  border: 1px solid #666;
}

.orderDetailPage .bidArea {
  width: 300px;
  height: 500px;
  border: 1px solid #666;
  float: left;
}



.orderSummary .orderId {
  font-size: 14px;
  color: #666;
}

.orderSummary img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  float: left;
}

.orderSummary .orderTitle {
  float: left;
  font-weight: bold;
  text-align: left;
  list-style: none;
  font-size: 18px;
  line-height: 32px;
}

.orderSummary .orderSummaryItems li{
  font-size: 14px;
  line-height: 32px;
  border-bottom: 1px dashed #eee;
  list-style: none;
}

.orderSummary .orderSummaryItems li .title {
  display: inline-block;
  width: 80px;
}

.orderSummary .bidCount {
  position: relative;
  float: right;
  right: 30px;
  top: 60px;
}

.orderSummary .timeCounter {
  font-size: 12px;
  color: #888;
}


hr.dashed {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #e3e3e3;
  border-bottom: 1px dashed #fff;
}


.orderSummary .orderPrice {
  width: 270px;
  display: block;
}

.orderContainer {
  margin-left: 0px;
}

.orderInfoContainer {
  position: relative;
  height: 600px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 20px;
}


.orderInfoContainer .wall {
  background: none;
}

.wall {
  margin-bottom: 30px;
  border: 1px solid #e3e3e3;
  background: #f9f9f9;
  padding: 20px;
  text-shadow: 0 1px 0 #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.orderInfoContainer h3 {
  font-size: 18px;
  line-height: 32px;
}

.orderInfoContainer .itemTable {
  border-collapse:collapse;
  margin: 0 auto;
}

.orderInfoContainer .itemTable td, .itemTable th {
  font-size: 15px;
  border:1px solid #359ade;
  padding:3px 7px 2px 7px;
}

.orderInfoContainer .itemTable th {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  padding: 5px 53px 4px 7px;
  background-color: #359ade;
  color: #fff;
}

.orderInfoContainer .itemTable tr.alt td {
  background-color: #cfe7f7;
}

.orderInfoContainer .descrDetail {
  float: left;
  margin: 20px;
  width: 300px;
}

.orderInfoContainer .descrDetailTitle {
  text-align: center;
  font-size: 16px;
  color: #333;
}

.orderInfoContainer .descrDetailInfo {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  line-height: 35px;
  margin-bottom: 13px;
  background-color: #f7f7f7;
}

.orderInfoContainer td {
  padding: 5px 10px;
}

.orderInfoContainer tr {
  border-bottom: 1px solid #eee;
}

.orderInfoContainer tr:nth-child(odd) {
  background: #fff;
}

.orderInfoContainer .descrDetailInfo td.value {
  border-left: 0;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word;
}

.orderInfoContainer .vendorDemands {
  float: left;
  margin: 20px;
  width: 430px
}

.orderInfoContainer .vendorDemandsTitle {
  font-size: 16px;
  text-align: center;
}

.orderInfoContainer .vendorDemandsInfo {
  height: 322px;
  border: 1px solid #dbdbdb;
  margin-top: 20px;
}


#bidActionArea {
  height: 350px;
  width: 320px;
  background: #fff;
  margin-bottom: 20px;
}

#communicationArea {
  background: #fff;
  width:320px;
  height: 300px;
}

#bidActionArea .lastBidPrice {
  font-size: 20px;
  
  .title {
    font-size: 16px;
    padding-bottom: 10px;
  }
  
  .price {
    font-size: 40px;
    line-height: 60px;
    color: #000;
    
    .RMB {
      font-size: 20px;
    }
  }
}

#bidActionArea .bidStatusTag {
  position: absolute;
  right: 180px;
  top: 120px;
  width: 90px;
  height: 30px;
  background: #FF6559;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  
  .triangle {
    height: 0;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-left: 10px solid #810500;
    border-right: 0 none;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0px;
    bottom: -10px;
  }
}

#bidActionArea .lastBidVendor {
}

#bidActionArea .myBidPrice {
  float: left;
  line-height: 26px;
}

#bidActionArea .bidField {
  height: 30px;
  margin-top: 20px;
}

#bidActionArea .bidPriceField input {
  width: 210px;
  height: 30px;
}

#bidActionArea .bidBtn {
  width: 150px;
  height: 45px;
  border-radius: 4px;
  margin: 20px auto;
  color: #fff;
  font-size: 18px;
  line-height: 45px;
  background: #2996cc;
  text-align: center;
  cursor: pointer;
}

