.create_order_step2{
	margin: 50px 0;
	position: relative;
	height: 600px;
	
	.left-area{
		height: 500px;
		width: 69%;
		position: absolute;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #EAEAEA;
		
		text-align: center;
		
		.order-items-grid-area{
			height: 200px;
			width: 90%;
			left: 25px;
		}
		
		.add-items{
			background: url(../img/add.png) no-repeat center center;
			padding-left: 100px;
			background-size: contain;
			line-height: 30px;
			cursor: pointer; 
		}
	}
	
	
	
	.right-area{
		height: 500px;
		width: 30%;
		margin-left: 0px;
		
		position: absolute;
		right: 0;
		border: 1px solid #ccc;
		border-radius: 3px;
		
		.preview-btn{
			float: right;
		}
		
		.empty-info{
			text-align: center;
		}
	}
	
	
	
}
