// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// order list
.orders_container {
  position: relative;
  width: 100%;  
}

.orders_container .order_item{  
  width: 250px;
  position: absolute;
  min-height: 350px;

  border-radius: 9px;
  background: rgba(11,25,2,0.06);
  padding: 5px;
  margin: 10px 20px;
  clear: both;    
   
}
.order_item .item_inner_area{  
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d5cb;
  position: relative; 
  min-height: 350px;
  padding: 5px;
}

.order_item .item_image_container {
  overflow: hidden;
}

.order_item .order_quickview {
  opacity: 0;
  width: 240px;
  height: 250px;
  position: absolute;
  background: rgba(90, 90, 90, 0.7);
  top: 5px;
}

.order_item .order_quickview a {
  text-decoration: none;
}

.order_item .order_quickview:hover{
  opacity: 1;
  cursor: pointer;
}

.order_item .order_quickview .quickViewButton {
  color: #000;
  font-weight: bold;
  position: relative;
  top: 100px;
  width: 100px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  
}

.order_item .order_quickview .quickViewButton span {
  background: url("../img/icon_search.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.order_item .order_quickview .quickViewButton:hover {
  background: #eee;
}

.pagination_area{
  float: left;  
}


.algin_right{
  float: right;
  right: 0;
}


.order_item .order_image{
  height: 230px;
  width: 100%;
}

.order_item .order_image:hover{
  background-color: #333;
  opacity: 0.5;
}

.order_item .div_float_left_border_right{
  border-width:0px;
  border-right: 2px solid #fff;
  margin-right: 5px;
  padding-right: 5px;
  float: left; 
}


.order_item .order_cate_row {
  background-color: rgb(165, 165,165);
  color: #fff;
}

.order_item .highlight_text{
  font-size: 16px;
  font-weight: 800;
}

.order_item  .row_margin{
   margin-top: 10px;
}

// progress bar
.order_item .bid_progressbar_area{
  height: 40px;
  overflow-y: hidden;
}

.order_item .bid_progressbar,// default height as placeholder, do not remove it!
.order_item .ui-progressbar{
  height: 25px;
}

.order_item .progress_label{
  padding: 0 5px;
  height: 0; // initial height, will change by js
}

.order_item .progress_label img{
  margin-right: 5px;
  display: none; 
}

.order_item .ui-widget-header { 
//  background: #63AFF5;
  background: #0088cc;
}

// for order detail page
.order_detail .float_left{
  float: left; 
}

// for new order page
.disabled_link{
  color: gray; 
  cursor: default;
}

// quick view dialog

.quickview .left_view {
  width: 70%;
  height: 300px;
  border: 1px solid #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  float: left;
}

.quickview .left_view .header_master {
  width: 100%;
  height: 70%;
  border: 1px solid #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  float: left;
}

.quickview .left_view .middle_stat {
  width: 100%;
  height: 30%;
  border: 1px solid #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  float: left;
}

.quickview .right_view {
  width: 30%;
  height: 300px;
  border: 1px solid #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  float: left;
}

.quickview .footer_view {
  width: 100%;
  height: 160px;
  border: 1px solid #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  float: right;
}
