.create_order_step2{
	margin: 50px 0;
	position: relative;
	min-height: 700px;
	display: none;
	
	.left-area{
		height:auto !important;
		min-height:100%;
		width: 69%;
		position: absolute;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #EAEAEA;
		text-align: center;
		
		.operation-cell-style{
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
		.order-items-grid-area{
			min-height: 100px;
			width: 770px;
			left: 25px;		
		}
		
		.add-items-btn{
			background: url(../img/add.png) no-repeat left center;			
			background-size: contain;			
			cursor: pointer; 
			width: 150px;
			height: 40px;
			background-color: #f7d394;
			border: 1px solid #f7d394;			
			border-radius: 3px;
			
			span{
				color: rgb(34, 164, 214);
				padding-left: 50px;
				line-height: 30px;
			}
		}
		
		.order-price-area, 
		.order-other-info-area{			 
			clear: left;
			padding:20px;
			
			.label-column{
				position: relative;				
				left: 170px;
				float: left;
				width: 150px;
				
				.label{
					display: block;
					line-height: 30px;
					text-align: right;
					background-color: transparent;
					color: #000;
					font-size: 14px;
				}
			}
			
			.input-column{
				position: relative;
				left: 180px;
				float: left;
				
				.values{					
					line-height: 30px;
					padding: 2px 0;
					position: relative;
					text-align: left;
					
					input{
						width: 150px;
					}
					
					select{
						min-width: 150px;
					}
				}
			}			
		}
		
		.order-other-info-area{
			border-top: 1px solid #ccc;
			padding: 10px 0;
		}
		
		.order-vendor-area{
			display:none;
			padding: 30px;
			clear: left;
			
			.add-vendor-btn{				 		 
				width: 150px;
				height: 40px;
				background-color: rgb(247, 211, 148);
				border: none;
				margin: 5px;
				border-radius: 3px;
			}
			
			.order-vendor-list{
				width: 770px;
				min-height: 100px;
			}
		}
		
		.submit-area{
			clear: left;
			padding-top: 10px;
 
			.order-submit-btn{
				width: 150px;
				height: 40px;
				background-color: rgb(247, 211, 148);
				border: none;
				margin: 5px;
				border-radius: 3px;
			}
		}
	}
	
	
	
	.right-area{
		height:auto !important;
		min-height:100%;
		width: 30%;
		margin-left: 0px;
		
		position: absolute;
		right: 0;
		border: 1px solid #ccc;
		border-radius: 3px;
		
		.right-header{
			height: 50px;
		}
		
		
		.preview-btn{
			float: right;			 
			width: 100px;
			height: 40px;
			background-color: rgb(247, 211, 148);
			border: none;
			margin: 5px;
			border-radius: 3px;
		}
		
		
		.section-label{
			margin-left: -180px;
			text-align: left;
			padding: 0;
			font-weight:bold;
		}
		
		.field-list{
			text-align: right;
			padding-left: 200px;
			
			.item-field-area{
				text-align: left;
				padding: 8px 0;
				width: 150px;
				p{
					margin:0;
				}
				
				.input{
					width: 120px;
				}
				
				.category-unit{
					padding-left: 2px;
				}
			}
		}
		
		
		.button-area{
			text-align: center;
			line-height: 50px;
		}	
		
		
		.add-one-btn{
			width: 120px;
			height: 30px;
			background-color: rgb(247, 211, 148);
			border: none;
			margin: 5px;
			border-radius: 3px;
		}	
		
		.dynamic-select-area{
			min-height: 20px;
			display: none;
			
			.add-one-item-btn{
				 
			}
		
		}
		
		.vendor-select-area{
			min-height: 20px;
			display: none;
			
			.vendor_list{
				margin-left: -150px;
				text-align: left;
				padding: 0;
			}
			
			.add-one-vendor-btn{
				 
			}
		}
		
		
		.empty-info{
			text-align: center;
			height: 100%;
			padding: 50px 50px;
			
			div{
				position: absolute;
				background: url(../img/lightball.png) no-repeat center center;
				line-height: 50px;
				height: 50px;
				width: 40px;
			}
			
			p{	
				padding-left: 50px;				
				position: relative;
				top: 10px;
			}
		}
	}
	
	
	.slick-viewport{
		/* editor box in cell */
		input.editor-text{
			width: 100px;
		}
	}
}
