.create_order_step2{
	margin: 50px 0;
	position: relative;
	min-height: 700px;
	display: none;
	
	.left-area{
		height: auto !important;
		min-height: 900px;
		position: relative;
		border: 1px solid #ccc;
		background: #fff;
		padding: 20px;
		text-align: center;
		margin-bottom: 20px;
		
		.left-header{
      height: 40px;
      background: #888;
      margin-top: -20px;
      margin-left: -20px;
      margin-right: -20px;
      .headerTitle {
        color: #fff;
        line-height: 40px;
        font-size: 16px;
        text-shadow: 0 1px 0 #333;
      }
    }
		
		.tableTitle {
		  font-size: 16px;
		  font-weight: bold;
		  color: #666;
		  margin-top: 20px;
		  float: left;
		  margin-left: 20px;
		}
		
		.item-icon {
		  font-size: 12px;
		}
		
		.operation-cell-style{
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
		.order-items-grid-area{
			min-height: 80px;
			width: 600px;
			margin: 0 auto;
		}
		
		.slick-header-column.ui-state-default {
		  height: 25px;
		  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
		}
		
		.add-items-btn{
			cursor: pointer;
      background: #2996cc;
      font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
      width: 115px;
      color: #fff;
      height: 35px;
      line-height: 35px;
      margin: 0 auto;
      font-size: 16px;
      border-radius: 20px;
      border: 1px solid #fff;
		}
		
		.add-items-btn:hover {
		  background: #2077a2;
		}
		
		.order-price-area, 
		.order-other-info-area{			 
			clear: left;
			margin-top: 30px;
			
			.label-column{
				position: relative;				
				left: 100px;
				float: left;
				width: 150px;
				
				.label{
					display: block;
					line-height: 30px;
					text-align: right;
					background-color: transparent;
					color: #555;
					font-size: 16px;
					padding: 10px 0;
				}
			}
			
			.input-column{
				position: relative;
				left: 120px;
				float: left;
				
				.values{					
					line-height: 40px;
					padding: 5px 0;
					position: relative;
					text-align: left;
					
					input{
						width: 200px;
            height: 30px;
            border: 1px solid #bbb;
            border-radius: 3px;
					}
					
					select{
						min-width: 150px;
					}
				}
			}			
		}
		
		.order-other-info-area{
			padding: 10px 0;
		}
		
		.order-vendor-area{
			display:none;
			clear: left;
			padding-top: 20px;
			
			.add-vendor-btn{				 		 
				width: 115px;
        height: 35px;
        line-height: 35px;
        font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
        background: #8ab46e;
        border: none;
        margin: 0 auto;
        border-radius: 20px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
			}
			
			.add-vendor-btn:hover {
			  background: green;
			}
			
			.order-vendor-list{
				width: 600px;
				min-height: 80px;
				margin: 0 auto;
				.vendorTableTitle {
				  font-size: 17px;
				  line-height: 30px;
				}
			}
		}
		
		.submit-area{
			clear: left;
			padding-top: 10px;
 
			.order-submit-btn{
        background: #2996cc;
        width: 140px;
        color: #fff;
        height: 40px;
        text-shadow: 0 1px 0 #666;
        font-size: 16px;
			}
			
			.order-submit-btn.disabled {
			  background: #bbb;
			}

		}
	}
	
	
	
	.right-area{
		height:auto !important;
		min-height: 900px;
		margin-left: 10px;
		width: 310px;
		position: relative;
		float: left;
		border: 1px solid #ccc;
		background: #f9f9f9;
		margin-bottom: 20px;
		
		.right-header{
			height: 40px;
			background: #888;
		}
		
		
		.preview-btn{
			  cursor: pointer;
        background: #666;
        font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
        width: 75px;
        color: #fff;
        height: 40px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        float: right;
        right: 10px;
        font-size: 16px;
        text-shadow: 0 1px 0 #333;
		}
		.preview-btn:hover {
		    background: #555;
		}
		
		
		.section-label{
			text-align: left;
			font-weight:bold;
			margin-bottom: 20px;
		}
		
		.field-list{
			text-align: right;
			padding-left: 50px;
			
			.item-field-area{
				text-align: left;
				padding: 8px 0;
				width: 150px;
				p{
					margin:0;
				}
				
				.input{
					width: 120px;
				}
				
				.category-unit{
					padding-left: 2px;
				}
			}
		}
		
		
		.button-area{
			text-align: center;
			line-height: 50px;
		}	
		
		
		.add-one-item-btn{
			width: 80px;
      height: 35px;
      font-size: 16px;
		}	
		
		.dynamic-select-area{
			min-height: 20px;
			display: none;
			padding: 20px;
			
			.add-one-item-btn{
				 
			}
		
		}
		
		.vendor-select-area{
			min-height: 20px;
			display: none;
			
			.vendor_list{
				margin-left: -150px;
				text-align: left;
				padding: 0;
			}
			
			.add-one-vendor-btn{
				 
			}
		}
		
		
		.empty-info{
			text-align: center;
			height: 100%;
			padding: 50px 50px;
			
			div{
				position: absolute;
				background: url(../img/lightball.png) no-repeat center center;
				line-height: 50px;
				height: 50px;
				width: 40px;
			}
			
			p{	
				padding-left: 50px;				
				position: relative;
				top: 10px;
			}
		}
	}
	
	
	.slick-viewport{
		/* editor box in cell */
		input.editor-text{
			width: 100px;
		}
	}
}


//
create new order

.order_onboarding {
  display: block;
}

.order_onboarding .onboarding_header {
  text-align: center;
}

.order_onboarding .shift {
  position: relative;
  line-height: 50px;
  font-size: 26px;
  top: 15px;
  padding: 0 10px;
}
.order_onboarding hr {
  margin-top: -2px;
  border-bottom: 1px solid #ccc;
}

.order_onboarding .lead {
  font-size: 16px;
  font-weight: 200;
  line-height: 40px;
  position: relative;
}

.order_onboarding .panel_background_blue_radial {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  background: #0f92cd;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, color-stop(20%, #30b9f1), color-stop(100%, #0f92cd));
  background-image: -webkit-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
  background-image: -moz-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
  background-image: -ms-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
  background-image: -o-radial-gradient(center center, farthest-side circle, #30b9f1 20%, #0f92cd 100%);
  background-image: radial-gradient(farthest-side circle at center center, #30b9f1 20%, #0f92cd 100%);
  border-radius: 3px;
}

.order_onboarding .panel_inner_padding {
  padding: 40px 0;
  color: white;
  font-size: 20px;
}

.order_onboarding .panel_inner_padding .row {
  position: relative;
  text-shadow: 1px 1px #333;
  left: 250px;
  float: left;
}

.order_onboarding_form .selectors {
  line-height: 100px;
  text-align: right;
}

.order_onboarding .panel_inner_padding .select_row {
  position: relative;
  left: 280px;
  float: left;
}

.select_row .category_select {
  width: 750px;
  height: 70px;
  position: relative;
}

.select_row .btn_group {
  position: relative;
}

.select_row .btn_group ul {
  margin: 0 0 25px;
  padding-left: 0px;
}

/** ---- category selection dropdown list --- **/

.category_select .dropdown_container {
  position: relative;
  width: 100%;
}

.category_select .dropdown_container .dropdown_btn_text {
  float: left;
}

.category_select .icon_dropdown {
  background: url("../img/icon_arrow_down.png") no-repeat center center;
  background-size: contain;
  position: relative;
  top: 15px;
  margin: auto 0;
  left: 10px;
  width: 20px;
  height: 20px;
  float: left;
}

.category_select .dropdown_list {
  width: 100px;
  height: auto;
  position: absolute;
  top: 60px;
  right: 18px;
  z-index: 2000;
  min-width: 130px;
}
.category_select .dropdown_list .item {
  line-height: 35px;
  height: 35px;
}

.category_select .dropdown_list .item:hover {
  background-color: #99025a;
  color: white;
}

/** --- end dropdown --- **/

.order_onboarding .select_btn {
  padding: 16px 12px;
  height: 60px;
  text-shadow: 0 1px rgba(255,255,255,0.6);
  float: left;
  font-weight: bold;
  display: block;
  padding: 0.4em 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #0195eb #0083c7 #0175b8 #0083c7;
  font-size: 17px;
  line-height: 50px;
  color: #393c3d;
  text-shadow: 1px 1px #eee;
  border: 1px solid rgba(255,255,255,0.2);
  background: #98DAF6;
  cursor: pointer;
}

.order_onboarding .select_btn:first-child {
  border-radius: 5px 0 0 5px;
}

.order_onboarding .category_select .select_btn:last-child {
  width: auto;
  border-radius: 0 5px 5px 0;
}

.order_onboarding .select_btn:hover {
  background: #52c1f0;
}

.order_onboarding .select_btn.selected {
  background: #cb0378;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
  color: white;
  text-shadow: 1px 1px #333;
}

.select_row .bid_select {
  width: 600px;
  height: 100px;
  position: relative;
}

.bid_select .icon_global {
  background: url("../img/multi.ico") no-repeat center center;
  background-size: contain;
  position: relative;
  width: 25px;
  height: 25px;
  float: left;
  top: 10px;
  margin-right: 5px;
}

.bid_select .icon_local {
  background: url("../img/single.ico") no-repeat center center;
  background-size: contain;
  position: relative;
  width: 25px;
  height: 25px;
  top: 10px;
  float: left;
  margin-right: 5px;
}

.bid_select .select_btn:last-child {
  width: auto;
  border-radius: 0 5px 5px 0;
}

.select_row .city_select {
  width: 300px;
  height: 100px;
  position: relative;
}

.select_row .city_select .bg {
  height: 60px;
  background-color: #98DAF6;
  border-radius: 5px;
}

.select_row .city_select .icon_location {
  background: url("../img/icon_location.png") no-repeat center center;
  background-size: contain;
  position: relative;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 20px;
}

.select_row .city_select .bg .city_input {
  width: 220px;
  height: 35px;
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.panel_background_blue_radial .next_btn {
  position: relative;
  left: 400px;
  height: 40px;
  background-color: #99025a;
  border-radius: 5px;
  border: 0px;
  padding: 0 15px;
  cursor: pointer;
  text-align: center;
}

.panel_background_blue_radial .next_btn:hover {
  background-color: #cb0378;
}

.next_btn.disabled {
  cursor: default;
  opacity: 0.4;
  color: #afe2ff;
}

.next_btn.disabled:hover {
  background-color: #99025a;
}

.next_btn .next_txt {
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#order-create-success-dialog {
  display: none;
  .hint-descr {
    width: 300px;
    height: 100px;
    position: relative;
    top: 60px;
    margin: 0 auto;
    .icon_create_success {
      position: relative;
      top: 0px;
      text-align: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .success-create-tip {
      font-size: 26px;
      color: #3dba45;
      margin-top: 20px;
      text-align: center;
    }
  }
  
  .step-tips {
    position: relative;
    top: 120px;
    text-align: center;
    .btn-publish {
      width: 120px;
      height: 45px;
      font-size: 15px;
    }
  }
}


#order-preview-dialog {
  display: none;
  height: 700px;
  width: 1250px;
  top: 50px;
  left: 100px;
  overflow-y: scroll;
}