//------ common style -------//
.dialog {
  background-color: #fff;
  display: none;
  overflow: hidden;
  width: 200px;
  height: 100px;
  text-align: left;
  border-radius: 5px;
  
  .dialog-content {
    padding: 20px;
  }
  .dialog-header {
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #ddd;
      background-color: #eee;
  }

  .dialog-header-text {
      font-size: 15px;
      font-weight: bold;
      padding-left: 15px;
      line-height: 40px;
      text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  }
  .close_btn {
      position: absolute;
      top: 6px;
      right: 8px;
      cursor: pointer;
      display: block;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      background-position: 0px -142px;
      background-repeat: no-repeat no-repeat;
  }
  .close_btn:hover {
      background: #8dcae8;
  }
}
  
  //------- logon ----------//

#dialog_area {
  background-color:#fff;
  display:none;
  width:350px;
  padding:15px;
  text-align:left;
  border:2px solid #333;
 
  opacity:0.8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
  }
 
#dialog_area h3 {
  background:url(/media/img/global/info.png) 0 50% no-repeat;
  margin:0px;
  padding:10px 0 10px 45px;
  border-bottom:1px solid #333;
  font-size:20px;
  }

//==================== user logon dialog =====================
  
.dialog_logon {
  width: 555px;
  height: 420px;
  display: none;
  border: 7px solid #aaa;
}

.dialog_logon .logon-content {
  width: 100%;
  float: left;
  
  .left-area {
    width: 200px;
    float: left;
    height: 300px;
    .nl-login-intro {
      text-align: center;
      position: relative;
      top: 50px;
    }
  }
  
  .sep-line {
    width: 1px;
    height: 240px;
    border: 1px dashed #bbb;
    position: absolute;
    top: 100px;
    left: 200px;
  }
  
  .logon-form-area{
    float: left;
    width: 340px;
    padding: 20px;
    
    .logon-reg-btn {
      color: #555;
    }
    .logon-reg-btn:hover {
      color: #2996cc;
      text-decoration: none;
    }
  }
  
  
}

//==================== quickview dialog =====================

#quickview_dialog {
  width: 500px;
  height: 400px
}

.quickview {
  width: 100%;
  height: 100%;
}

.quickview div {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.quickview .left_view {
  width: 60%;
  height: 300px;
  float: left;
}

.quickview .left_view .header_master {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #bbb;
  padding: 20px;
  
  .orderHeader {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }
  
  .lastBidPrice {
    font-size: 18px;
    width: 200px;
    float: right;
    text-align: right;
  }
  
  .itemTableTitle {
    position: relative;
    left: 0px;
    width: 80px;
    top: 30px;
  }
}

.quickview .left_view .itemTable {
  width: 350px;
  height: 100px;
  margin: 0 auto;
  margin-top: 45px;
  border: 1px solid;
  
  .title {
    font-size: 12px;
  }
  
  .alt {
    background: #eee;
  }
  
}


.quickview .left_view .middle_stat {
  width: 100%;
  height: 30%;
  float: left;
  padding: 20px;
}

.quickview .right_view {
  width: 40%;
  height: 100%;
  background: #eee;
  float: left;
  border-left: 1px solid #bbb;
}

.quickview .right_view .full_details_btn {
  width: 150px;
  height: 45px;
  background-color: #777;
  position: relative;
  float: left;
  color: #fff;
  border-bottom: 2px solid #666;
  text-shadow: 0 1px 0 #555;
  line-height: 45px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
  top: 20px;
  left: 50px;
  text-align: center;
}

.quickview .right_view .quickBidField {
  position: relative;
  top: 50px;
  left: 50px;
}

.quickview .right_view .quickBidField input {
  width: 145px;
  height: 30px;
  text-align: center;
}

.quickview .right_view .full_details_btn:hover {
  background: #888;
}

.quickview .right_view .quick_bid_btn {
  width: 150px;
  height: 45px;
  position: relative;
  top: 60px;
  left: 50px;
  background: #2996cc;
  color: #fff;
  float: left;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid #1c71ab;
  text-shadow: 0 1px 0 #555;
  border-radius: 3px;
  line-height: 45px;
  text-align: center;
}

.quickview .right_view .buyerInfo {
  font-size: 18px;
  position: absolute;
  top: 220px;
  right: 150px;
}

.quickview .right_view .quick_bid_btn:hover {
  background: #00a9e2;
}

.quickview .footer_view {
  width: 100%;
  height: 160px;
  float: right;
  border-top: 1px solid #666;
}


//==================== communication dialog =====================

#communication_dialog {
  width: 400px;
  height: 500px;
  .role-name {
      color: red;
      font-size: 15px;
  }
  
  .comm-order-descr {
    margin-top: 30px;
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    .order-short-descr {
      float: left;
      width: 50%;
    }
    
    .order-new-price {
      width: 50%;
      padding-left: 20px;
      float: left;
      input {
        width: 80px;
      }
    }
  }
  
  .comm-text-area {
    text-align: center;
    textarea {
      width: 300px;
      height: 150px;
    }
  }
  
  .comm-footer {
    height: 60px;
    text-align: center;
    .send-btn {
      width: 150px;
      height: 40px;
      margin: 0 auto;
      font-weight: bold;
    }
  }
  
}

#order-create-success-dialog {
    width: 550px;
    height: 400px;
    display: none;
}


//------ order bid dialog ------//
#order_bid_dialog {
    width: 550px;
    height: 510px;


  .btn{
    margin: 10px;
  }

  p{
    padding: 10px;
  }


  .btn-close{
    background-color: green;
  }


  .success-icon{
    font-size: 50px;
    color: green;
  }

  .warning-icon{
    font-size: 40px;
    margin-top: 20px;
    color: #ffbb33;
  }
  
  .warning-info {
    padding: 10px 0 0 10px;
  }
  
  .cancel-buttons {
    position: relative;
    top: 40px;
  }
  
  .fieldLabel {
    color: #333;
  }
  
  .fieldValue {
    color: #333;
  }

}

//------ company info dialog ------//
#company_info_dialog {
  width: 850px;
  height: 580px;
}
