// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logon_page {
  background: #005a78;
  height: 600px;
}

.logon-form-new {
}

.logon-button {
  background-color: #f3715c;
}
