// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_page_area{

}


//==================== user logon  =============

//================ user reg page===================s
.reg_page {
  background: #F2F2F2;
}

//--- header ----
.regHeader {
  height: 71px;
  line-height: 71px;
  background: #fff;
  min-width: 960px;
  display: block;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.regHeader .regHeaderMain {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.regHeader .pullLeft {
  float: left;
}

.regHeader .pullLeft .pullLeftText {
  font-size: 25px;
  color: #aaa;
}

.regHeader .pullRight {
  float: right;
  list-style: none;
}

.regHeader .pullRight a {
  margin: 0 15px;
  letter-spacing: 2px;
  color: #999999;
  text-decoration: none;
}

.regHeader .pullRight a:hover {
  color: #428bca;
}
//--- end header ----


//--- step 1 page ---
.regContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.regContainer .regMain {
  width: 950px;
  height: 850px;
  display: block;
  margin: 30px auto;
  padding: 20px 0 15px 0;
  border: 1px solid #d7d7d7;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.regContainer ul {
  list-style: none;
  margin-top: 50px;
  margin-left: 80px;
}

.regContainer li {
  margin-top: 25px
}

.regContainer .userBasicInfoContainer {
  width: 550px;
  padding: 20px;
}

// time line
.regContainer .regTimelineBar {
  margin-bottom: -20px;
  height: 130px;
  margin: 0px auto;
  margin-top: -20px;
  width: 850px;
}

.regContainer .regTimelineBar ul {
  margin: 0;
  padding-left: 0px;
}

.regContainer .regTimelineBar li span {
  margin-top: 10px;
  font-size: 15px;
  display: inline-block;
}

.regContainer .regTimelineBar .step {
  float: left;
  width: 280px;
  text-align: center;
  position: relative;
  top: 20px;
  
  img {
    margin-bottom: -33px;
  }
  
  span {
    color: #e3e7e6;
    font-family: tahoma;
  }
  span.light {
    color: #61A76B;
  }
  .step_number {
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    line-height: 15px;
    padding: 0 18px;
    color: #afb4bc;
    z-index: 1;
    left: 113px;
    top: 10px;
  }
  .step_number.light {
    color: #fff;
  }
  
  .hr {
    width: 100%;
    border: 7px solid #b4b5b8;
    border-radius: 1px;
    z-index: -1;
    margin-left: 140px;
  }
  .hr.active {
    border: 7px solid #3dba45;
  }
  .hr.last {
    width:1%;
  }
}


// end time line

.regContainer {
  .fieldValue {
    float: left;
  }
  .fieldRole {
    height: 50px;
    .role-icon {
      position: relative;
      left: 7px;
      color: #fff;
    }
  }
  
  .fieldInput {
    .reg-input {
      height: 45px;
    }
    .reg-icon {
      color: #bbb;
    }
    .reg-verify-code {
      width: 120px;
      height: 45px;
    }
    .form-control {
      border-radius: 2px;
    }
  }

  .agreementArea {
    margin-left: 100px;
    width: 280px;
    height: 25px;
    line-height: 25px;
    
    label {
      .agree-text {
        line-height: 25px;
      }
    }
   
  }
  
}

// right area
.regContainer .rightTipsArea {
  width: 200px;
  height: auto;
  font-size: 17px;
  position: absolute;
  right: 400px;
  top: 300px;
}

.regContainer .regSeperateLine {
  width: 10px;
  height: 500px;
  border-left: 1px dashed #bbb;
  position: absolute;
  right: 280px;
}

.regContainer .asterisk {
  color: #d40000;
  padding-left: 5px;
  padding-right: 8px;
  line-height: 31px;
  vertical-align: middle;
}

.userBasicInfo .role_selection {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #359ade;
  padding-left: 30px;
  float: left;
  cursor: pointer;
  line-height: 40px;
}

.userBasicInfo label {
  font-weight: normal;
}

.userBasicInfo .role_selection:hover {
  border: 1px solid #1c71ab;
}

.userBasicInfo .role_selection.selected {
  background: #359ade;
  color: #fff;
}

.userBasicInfo .role_selection.selected i {
  width: 12px;
  height: 13px;
  background: url("../img/reg/hook.png") no-repeat;
}

.regContainer .button {
  border-radius: 3px;
  text-align: center;
  width: 180px;
  color: #fff;
  height: 45px;
  background: #359ade;
  cursor: pointer;
  margin-left: 100px;
  span {
    font-size: 18px;
    line-height: 45px;
    color: #fff;
  }
}

//--- step 1 page ---

.regContainer .popTip {
  position: relative;
  top: 20px;
  left: 100px;
  width: 420px;
  .popTipContainer {
    background: #cee1e8;
    border: 1px solid #cee1e8;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
  }
  .popTipArrow {
    height: 0;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #cee1e8;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: 20px;
    
  }
}

.regContainer .userMobileverify {
  color: #c82e25;
  position: relative;
  top: 10px;
}

//--- success page ----

.regContainer .success_text {
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 400px;
}

.regContainer .icon_success {
  position: relative;
  left: 420px;
  top: 20px;
}


//============== step 3 reg success page ========
.regContainer .regSuccessArea{
	min-height: 500px;	
	padding: 20px;
	.successTip {
	  font-size: 30px;
    color: #3dba45;
    margin-top: 40px;
    text-align: center;
	}
}


.link-to-change-pw{
	cursor: pointer;
	color: #428bca;
}


//----- logon page -----//
.logon-page-main {
  width: 950px;
  height: 850px;
  display: block;
  margin: 30px auto;
  padding: 20px 0 15px 0;
  border: 1px solid #d7d7d7;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  
  .page-left-area {
    width: 400px;
    padding: 20px;
    
    .enter-area {
      margin-bottom: 20px;
    }
  }
}
