// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_page_area{

}


//==================== user logon  =============
.logon-content {
	width: 360px;
	float: left;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.logon-content .logon-form-area{
	text-align: left;
}

.logon-content .shake-area {
	position: relative;
}

.logon-content .shake-area, .code-enter-item {
	/*margin-bottom: 16px;*/
}

.logon-content .enter-area {
	position: relative;
	top: 20px;
}

.logon-content .error-tip {
	display: none;
	width: 300px;
	background: #fff;
	height: 18px;
	line-height: 16px;
}

.logon-content .placeholder {
	left: 55px;
	font-style: normal;
	color: #c2c2c2;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	zoom: 1;
}

.logon-content .placeholder, .error-tip {
	position: relative;
	top: -44px;
}

.logon-content .error-ico {
	display: inline-block;
	zoom: 1;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 6px;
	background: -60px -38px no-repeat;
}

.logon-content .error-msg {
	color: #ff7448;
	vertical-align: middle;
	font-size: 18px;
}

.logon-content input[type="text"], .logon-content input[type="password"], .logon-content .enter-item {
	background: #fff;
	width: 260px;
	display: block;
	position: relative;
	left: 35px;
	height: 16px;
	line-height: 20px;
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.logon-content .first-enter-item {
	border-radius: 6px 6px 0 0;
}

.logon-content .last-enter-item {
	border-radius: 0 0 6px 6px;
	margin-top: -11px;
}

.logon-content .ng-cookie-area {
  position: relative;
  left: 30px;
  top: 20px;
}

.logon-content input[type="submit"].btn_submit {
	width: 280px;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  position: relative;
  left: 40px;
  top: 30px;
}

.logon-content .button {
  width: 280px;
  position: relative;
  left: 40px;
  top: 35px;
}

.logon-content .button a:hover {
  color: #005580;
  text-decoration: none;
  background-color: #eee;
}

//================ user reg page========================================
.reg_page {
  background: #F2F2F2;
}

//--- header ----
.regHeader {
  height: 71px;
  line-height: 71px;
  background: #fff;
  min-width: 960px;
  display: block;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.regHeader .regHeaderMain {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.regHeader .pullLeft {
  float: left;
}

.regHeader .pullLeft .pullLeftText {
  font-size: 25px;
  color: #aaa;
}

.regHeader .pullRight {
  float: right;
  list-style: none;
}

.regHeader .pullRight a {
  margin: 0 15px;
  letter-spacing: 2px;
  color: #999999;
  text-decoration: none;
}

.regHeader .pullRight a:hover {
  color: #428bca;
}
//--- end header ----


//--- step 1 page ---
.regContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.regContainer .regMain {
  width: 950px;
  height: 700px;
  display: block;
  margin: 30px auto;
  padding: 20px 0 15px 0;
  border: 1px solid #d7d7d7;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.regContainer ul {
  list-style: none;
  margin-top: 50px;
  margin-left: 100px;
}

.regContainer li {
  margin-top: 20px
}

.regContainer .userBasicInfoContainer {
  width: 550px;
  padding: 20px;
}

// time line
.regContainer .regTimelineBar {
  margin-bottom: -20px;
  height: 130px;
  margin: 0px auto;
  margin-top: -20px;
  width: 850px;
}

.regContainer .regTimelineBar ul {
  margin: 0;
}

.regContainer .regTimelineBar li span {
  margin-top: 10px;
  font-size: 15px;
  display: inline-block;
}

.regContainer .regTimelineBar .step {
  float: left;
  width: 280px;
  text-align: center;
  position: relative;
  top: 20px;
  
  img {
    margin-bottom: -33px;
  }
  
  span {
    color: #e3e7e6;
    font-family: tahoma;
  }
  span.light {
    color: #61A76B;
  }
  .step_number {
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    line-height: 15px;
    padding: 0 18px;
    color: #afb4bc;
    z-index: 1;
    left: 113px;
    top: 10px;
  }
  .step_number.light {
    color: #fff;
  }
  
  .hr {
    width: 100%;
    border: 7px solid #b4b5b8;
    border-radius: 1px;
    z-index: -1;
    margin-left: 140px;
  }
  .hr.active {
    border: 7px solid #3dba45;
  }
  .hr.last {
    width:1%;
  }
}


// end time line

.regContainer input{
  font-size: 15px;
  padding-left: 10px;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-weight: normal;
  height: 30px;
  width: 235px;
}

.regContainer {
  .fieldLabel {
    float: left;
    width: 100px;
    color: #666;
    text-align: right;
    height: 40px;
    line-height: 40px;
  }
  .fieldValue {
    float: left;
  }
  .fieldRole {
    height: 50px;
  }
  
  .fieldInput {
    
  }
  .agreementArea {
    margin-left: 100px;
    
    input {
      width: 30px;
      height: 25px;
      margin-bottom: 5px;
    }
   
  }
  
}

// right area
.regContainer .rightTipsArea {
  width: 200px;
  height: auto;
  font-size: 17px;
  position: absolute;
  right: 400px;
  top: 300px;
}

.regContainer .regSeperateLine {
  width: 10px;
  height: 500px;
  border-left: 1px dashed #bbb;
  position: absolute;
  right: 280px;
}

.regContainer .asterisk {
  color: #d40000;
  padding-left: 5px;
  padding-right: 8px;
  line-height: 31px;
  vertical-align: middle;
}

.userBasicInfo .role_selection {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #359ade;
  text-align: center;
  padding: middle;
  float: left;
  cursor: pointer;
  line-height: 40px;
}

.userBasicInfo .role_selection:hover {
  border: 1px solid #1c71ab;
}

.userBasicInfo .role_selection.selected {
  background: #359ade;
  color: #fff;
}

.userBasicInfo .role_selection.selected i {
  width: 12px;
  height: 13px;
  background: url("../img/reg/hook.png") no-repeat;
}

.regContainer .button {
  border-radius: 3px;
  text-align: center;
  width: 180px;
  height: 45px;
  background: #359ade;
  cursor: pointer;
  margin-left: 100px;
  span {
    font-size: 18px;
    line-height: 45px;
    color: #fff;
  }
}

//--- step 1 page ---

.regContainer .popTip {
  position: relative;
  top: 20px;
  left: 100px;
  width: 420px;
  .popTipContainer {
    background: #cee1e8;
    border: 1px solid #cee1e8;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
  }
  .popTipArrow {
    height: 0;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #cee1e8;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: 20px;
    
  }
}

.regContainer .userMobileverify {
  color: #c82e25;
  position: relative;
  top: 10px;
}

//--- success page ----

.regContainer .success_text {
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 400px;
}

.regContainer .icon_success {
  position: relative;
  left: 420px;
  top: 20px;
}


//============== step 3 reg success page ========
.regContainer .regSuccessArea{
	min-height: 500px;	
	padding: 20px;
	.successTip {
	  font-size: 30px;
    color: #3dba45;
    margin-top: 40px;
    text-align: center;
	}
}
