// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_page_area{

}


//==================== user logon  =============
.logon-content {
	width: 360px;
	float: left;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.logon-content .logon-form-area{
	text-align: left;
}

.logon-content .shake-area {
	position: relative;
}

.logon-content .shake-area, .code-enter-item {
	/*margin-bottom: 16px;*/
}

.logon-content .enter-area {
	position: relative;
	top: 20px;
}

.logon-content .error-tip {
	display: none;
	width: 300px;
	background: #fff;
	height: 18px;
	line-height: 16px;
}

.logon-content .placeholder {
	left: 55px;
	font-style: normal;
	color: #c2c2c2;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	zoom: 1;
}

.logon-content .placeholder, .error-tip {
	position: relative;
	top: -44px;
}

.logon-content .error-ico {
	display: inline-block;
	zoom: 1;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 6px;
	background: -60px -38px no-repeat;
}

.logon-content .error-msg {
	color: #ff7448;
	vertical-align: middle;
	font-size: 18px;
}

.logon-content input[type="text"], .logon-content input[type="password"], .logon-content .enter-item {
	background: #fff;
	width: 260px;
	display: block;
	position: relative;
	left: 35px;
	height: 16px;
	line-height: 20px;
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.logon-content .first-enter-item {
	border-radius: 6px 6px 0 0;
}

.logon-content .last-enter-item {
	border-radius: 0 0 6px 6px;
	margin-top: -11px;
}

.logon-content .ng-cookie-area {
  position: relative;
  left: 30px;
  top: 20px;
}

.logon-content input[type="submit"].btn_submit {
	width: 280px;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  position: relative;
  left: 40px;
  top: 30px;
}

.logon-content .button {
  width: 280px;
  position: relative;
  left: 40px;
  top: 35px;
}

.logon-content .button a:hover {
  color: #005580;
  text-decoration: none;
  background-color: #eee;
}

//================ user reg page========================================

.reg-page {
	margin: 0 auto;
  min-height: 500px;
  min-width: 960px;
  max-width: 1200px;
  background: #fff;
}

.reg-page .reg-area {
  font-size: 17px;
	width: 65%;
	height: auto;
	min-height: 900px;
}

.reg-page input, label, button {
  font-size: 17px;
  font-weight: normal;
}

.reg-area-title {
	line-height: 80px;
	margin: 0 0 10px 200px;
	font-size: 22px;
	color: #ff9630;
}

.reg-page .reg-tip {
	padding: 0 0 20px 30px;
	color: #999;
}

.reg-page .cor-yellow {
	color: #ff7e00;
}

.reg-page .reg-selection {
	font-size: 17px;
	padding: 50px 30px 30px;
}

.reg-page .radio-margin {
	margin-right: 6px;
	margin-top: -2px;
}

.reg-page .marg-left50 {
	margin-left: 50px;
}

.reg-page .marg-left30 {
	margin-left: 30px;
}

.reg-page .f_label, .reg-page .f_input {
	height: 30px;
	margin-bottom: 12px;
	vertical-align: middle;
	display: block;
}

.reg-page .f_label {
	width: 220px;
	padding-top: 5px;
	padding-right: 10px;
	line-height: 30px;
	text-align: right;
}

.reg-page .f_input {
	float: left;
	margin-left: 225px;
	margin-top: -38px;
}

.reg-page .dd_r {
	width: 680px;
}

.reg-page .reg-button {
	width: 206px;
}

.reg-page .verify-button {
	margin: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  width: 80px;
  border: 1px solid #ff541a;
}

.reg-page .verify-button:hover {
  background: #ffa080;
}

.reg-page .verify-button span {
  font-size: 18px;
  font-weight: bold;
}

.reg-page #vefiry_msg_area{
	color:green;
	font-size: 16px;
	position: relative;
	margin-left: 200px;
	top: -25px;
}

.reg-page #vefiry_msg_area.failed{
  color:red;
}

.reg-page .reg-user-info-area {
  color: green;
}

.reg-page .reg-user-info-area.disabled {
  display: none;
}

// seperate line

.reg-page .reg_seperate_line {
  width: 10px;
  height: 100%;
  border-left: 1px dashed #bbb;
  position: absolute;
  top: 150px;
  right: 650px;
}


// right area
.reg-page .reg_right_scroll {
  width: 400px;
  height: auto;
  font-size: 17px;
  position: absolute;
  right: 240px;
  top: 200px;
}


//============== new_2 page ========

.reg_page {
  background: url("../img/reg/register_body_bg.jpg") repeat;
}

.reg_top {
  height: 71px;
  line-height: 71px;
  background: url("../img/reg/register_top_bg.jpg") repeat-x;
}

.reg_top .reg_top_main {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reg_top .pull_left {
  float: left;
}

.reg_top .pull_left .reg_header_text {
  font-size: 21px;
}

.reg_top .pull_right {
  float: right;
  list-style: none;
}

.reg_top .pull_right a {
  margin: 0 15px;
  letter-spacing: 2px;
  color: #999999;
  text-decoration: none;
}

.reg_top .pull_right a:hover {
  color: #428bca;
}

.reg_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reg_container input, label, button {
  font-size: 16px;
  font-weight: normal;
}

.reg_container .reg_main {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reg_container .reg_timeline_bar {
  height: 70px;
  margin: 0 auto;
  width: 850px;
}

.reg_container .reg_timeline_tabs {
  margin: 20px auto;
  border: 0;
  padding-left: 0;
  height: 74px;
  list-style: none;
}

.reg_container .reg_timeline_tabs li span {
  margin-top: 10px;
  font-size: 15px;
  display: inline-block;
}

.reg_container .reg_timeline_tabs .step {
  float: left;
  width: 280px;
  text-align: center;
  position: relative;
  top: 20px;
}

.reg_container .reg_timeline_tabs .hr {
  width: 100%;
  border: 1px solid #b4b5b8;
  border-radius: 1px;
  margin-bottom: -22px;
  z-index: -1;
}

.reg_container .reg_timeline_tabs .hr.active {
  border: 1px solid #359ade;
}

.reg_container .reg_main_body {
  height: 500px;
  margin-top: 20px;
  padding: 20px 0 15px 0;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  margin-bottom: 30px;
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.reg_container table {
  margin-left: 100px;
  margin-top: 30px;
  width: 500px;
  color: #737373;
  border-collapse: separate;
  border-spacing: 0 10px;
}



.reg_container .company_verify {
  position: relative;
  
}

.reg_container .icons {
  margin-top: -8px;
}

.reg_container .reg_main_header_text {
  font-size: 18px;
  position: relative;
  left: 100px;
}

.reg_container .paymeans_verify_area {
  position: relative;
  left: 100px;
}

.reg_container .f_label {
  text-align: right;
  margin: 0;
  padding-left: 2px;
  color: #737373;
  font-weight: bold;
  width: 120px;
}

.reg_container .f_input {
  height: 31px;
}

.reg_container .asterisk {
  color: #d40000;
  padding-left: 5px;
  padding-right: 17px;
  line-height: 31px;
  vertical-align: middle;
}

#company_verify .verify_btn {
  text-align: center;
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 3px;
  line-height: 40px;
  font-size: 16px;
  background: #888;
  cursor: pointer;
  margin: 0 auto;
}

#company_verify .verifyBtnInfo {
  height: 50px;
  width: 150px;
  margin: 0 auto;
}

#company_verify .passedInfo {
  color: green;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  display: none;
}

#company_verify .passedInfo.enable {
  display: block;
}


#user_reg_details .complete_btn {
  text-align: center;
}

#user_reg_details .complete_btn button{
  width: 150px;
  height: 45px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background: #359ade;
}

#user_reg_details .role_selection {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #359ade;
  text-align: center;
  padding: middle;
  float: left;
  cursor: pointer;
  line-height: 40px;
}

#user_reg_details .role_selection:hover {
  border: 1px solid #1c71ab;
}

#user_reg_details .role_selection.selected {
  background: #359ade;
  color: #fff;
}

#user_reg_details .role_selection.selected i {
  width: 12px;
  height: 13px;
  background: url("../img/reg/hook.png") no-repeat;
}

#user_basic_info_area {
  margin-top: 15px;
}

#user_basic_info_area .submit_btn{
  position: relative;
  left: 140px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  width: 200px;
  height: 40px;
  background: #359ade;
  color: #fff;
  cursor: pointer;
}

#user_basic_info_area .submit_btn.disabled {
  cursor: default;
  opacity: 0.4;
  background: #eee;
}

#user_basic_info_area .f_label.disabled {
  color: #eee;
}

#user_basic_info_area .asterisk.disabled {
  color: #eee;
}

// seperate line
.reg_container .seperate_line {
  width: 10px;
  height: 350px;
  border-left: 1px dashed #bbb;
  position: absolute;
  top: 50px;
  right: 430px;
  }

// register tips
.reg_container .right_tips_area {
  width: 400px;
  height: auto;
  position: absolute;
  right: 240px;
  top: 200px;
}

.reg_container .right_tips_area .tips {
  font-size: 15px;
  width: 300px;
  padding-top: 50px;
}

.reg_container .success_text {
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 400px;
}

.reg_container .icon_success {
  position: relative;
  left: 420px;
  top: 20px;
}


//============== reg success page ========
.reg-page .reg-success-area{
	min-height: 500px;	
	width: 800px;
}

.reg-page .reg-success-info-area{
	font-weight: bold;
}
