<% @goods_props.each do |prop| %>
  <li>
    <span><%= prop.name%> : </span> 
    <div style="padding-left: 50px;">
    	<% prop.goods_prop_values.each do |pv| %>
    		 		
    	<% end %>
    </div>
  </li>
<% end %>