<%
	arrPathInfo = get_breadcrumb_path_info(params[:breadcrumb_path_key])
	path_count = arrPathInfo.length
%>

<div class="breadcrumb_area">
	<% arrPathInfo.each_with_index  do |path_info, i| 
		path_url = path_info[1]
		path_text = path_info[0]
		
		Rails.logger.debug  'arrPathInfo['+i.to_s+']: ' + path_text+", "+path_url  
	%>
		
		<% if i < path_count-1 %>
			<% if i == 0 %>
				<%= link_to path_text, path_url, :class=>"span-text breadcrumb-text-light"%>				 
			<% else %>
				<%= link_to path_url, :class=>" ", remote: true  do %>					 
					<span class="span-text breadcrumb-text-light"><%= path_text %></span> 
				<% end %>
			<% end %>
			>
		<% else %>
			<span class="span-text"><%= path_text %></span> 
		<% end %>
			
	<% end %>
</div>
