 <% content_for :footer do %>
 
	<div class="footer">
	 	<p>Copyright © YI TECHNOLOGIES 2013, All Rights Reserved</p>	 
	</div>
	
	<div id="dialog_logon" class="dialog dialog_logon"></div>
	
	<div id="quickview_dialog" class="dialog quickview_dialog"></div>
	
	
	<div id="communication_dialog" class="dialog communication_dialog"></div>
	
	<div id="order_bid_dialog" class="dialog order_bid_dialog"></div>
	
	<div id="order-create-success-dialog" class="dialog order-create-success-dialog">
		<%= render "orders/create_success_dialog" %>
	</div>
	
	<div id="order-preview-dialog" class="dialog order-preview-dialog">
		
	</div>
	
	
<% end %>
