 <% content_for :footer do %>
 
	<div class="footer">
	 	<p>Copyright © YI TECHNOLOGIES 2013, All Rights Reserved</p>	 
	</div>
	
	<div id="quickview_dialog" class="quickview_dialog"></div>
	
<% end %>
